.forget-password{
    margin: 100px 0px;
}
.forget-password .forget-password-content{
    width: 50%;
    text-align: center;
    box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.2);
    margin: auto;
}
.forget-password .forget-password-content form h1{
     font-size: 28px;
     font-weight: bold;
    color: var(--dark-text);
}
.forget-password .forget-password-content form a{
    color: var(--primary-color);
    font-weight: bold;
}
.forget-password .forget-password-content form a:hover{
    color: var(--dark-color);
}
.forget-password .forget-password-content form input:focus{
    border: 1px solid var(--primary-color);
}
.forget-password .forget-password-content form label{
    color: var(--primary-color);    
}
.forget-password .forget-password-content form button[type="submit"]{
    background-color: var(--primary-color);
    color: var(--white-color);
}
.forget-password .forget-password-content form button[type="submit"]:hover:enabled{
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
    opacity: 0.8;
    transition: all ease-in-out 0.5s;
}
.forget-password .forget-password-content form button[type="submit"]:disabled{
    background-color: var(--muted-color);
}
@media screen and (max-width: 991px) {
    .forget-password .forget-password-content{
        width: auto;
        text-align: right;
        box-shadow: none;        
    }    
}
@media screen and (max-width: 575px) {
    .forget-password .forget-password-content form h1{
        font-size: 24px;
    }   
}