<section id="forget-password" class="forget-password d-flex align-items-md-center" name="forget-password">
    <div class="container-xl">
        <div class="forget-password-content px-sm-3 p-lg-5">
            <form action="/home">                    
                <div class="text-center">
                    <h3>تغيير كلمة السر</h3>
                    <p class="py-3"> هل أنت تائه؟<a routerLink="/sign-up"> أنشىء حسابك</a> أو <a routerLink="/login">تسجيل الدخول</a></p>
                </div>

                <div class="form-floating my-4">
                    <input type="email" class="form-control text-start rounded-0 shadow-none" id="email" placeholder="البريد الإلكتروني" name="email"  autocomplete="email" required>
                    <label for="email">البريد الإلكتروني</label>
                </div>                                                   
                  <button type="submit" class="btn py-2 rounded-pill w-100">تغيير كلمة السر</button>
            </form>            
        </div>
    </div>
</section>