<section id="questions" class="questions py-5" name="questions">
    <div class="container-xl">
        <div class="breadcrumb">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/home">الرئيسية</a></li>                
                <li class="breadcrumb-item active" aria-current="page">أسئلة</li>
                </ol>
            </nav>
       </div>
       <!-- title -->
       <div class="questions-title text-center rounded-2 mt-5">
        <h1 class="py-2 mb-0">أسئلة برمجية</h1>
       </div>
       <!-- content -->
       <div class="questions-content row justify-content-center">
        <div class="content col-sm-10 mt-4">
          <div class="questions-search input-group my-3">
            <input type="search" class="form-control shadow-none" placeholder="البحث" name="search">            
            <button class="btn" type="submit"><i class="bi bi-search"></i></button>
          </div>
            <div id="accordion" class="mt-5">
                <div class="card border-0 my-4">
                  <div class="card-header border-0 rounded">
                    <a class="btn d-flex justify-content-between text-start border-0 collapsed" data-bs-toggle="collapse" href="#collapseOne">
                      السؤال #1 <i class="bi bi-chevron-down"></i>
                    </a>                    
                  </div>
                  <div id="collapseOne" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body p-4">
                      <p>هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديلر هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل
                        ... <a routerLink="/question1">إقرأ المزيد</a>
                      </p>
                      <audio class="w-100" controls>
                        <source src="../../../assets/audios/beep.mp3" type="audio/mpeg">
                      </audio>
                    </div>
                  </div>
                </div>
              
                <div class="card border-0 my-4">
                  <div class="card-header border-0 rounded">
                    <a class="collapsed btn d-flex justify-content-between text-start border-0" data-bs-toggle="collapse" href="#collapseTwo">
                      السؤال #2 <i class="bi bi-chevron-down"></i>
                    </a>                    
                  </div>
                  <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body p-4">
                      <p>هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديلر هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل
                        ... <a routerLink="/question1">إقرأ المزيد</a>
                      </p>
                      <audio class="w-100" controls>
                        <source src="../../../assets/audios/beep.mp3" type="audio/mpeg">
                      </audio>
                    </div>
                  </div>
                </div>
              
                <div class="card border-0 my-4">
                  <div class="card-header border-0 rounded">
                    <a class="collapsed btn d-flex justify-content-between text-start border-0" data-bs-toggle="collapse" href="#collapseThree">
                      السؤال #3 <i class="bi bi-chevron-down"></i>
                    </a>                    
                  </div>
                  <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body p-4">
                      <p>هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديلر هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل
                        ... <a routerLink="/question1">إقرأ المزيد</a>
                      </p>
                      <audio class="w-100" controls>
                        <source src="../../../assets/audios/beep.mp3" type="audio/mpeg">
                      </audio>
                    </div>
                  </div>
                </div>

                <div class="card border-0 my-4">
                    <div class="card-header border-0 rounded">
                      <a class="collapsed btn d-flex justify-content-between text-start border-0" data-bs-toggle="collapse" href="#collapseFour">
                        السؤال #4 <i class="bi bi-chevron-down"></i>
                      </a>                    
                    </div>
                    <div id="collapseFour" class="collapse" data-bs-parent="#accordion">
                      <div class="card-body p-4">
                        <p>هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديلر هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل
                          ... <a routerLink="/question1">إقرأ المزيد</a>
                        </p>
                        <audio class="w-100" controls>
                          <source src="../../../assets/audios/beep.mp3" type="audio/mpeg">
                        </audio>
                      </div>
                    </div>
                  </div>

                  <div class="card border-0 my-4">
                    <div class="card-header border-0 rounded">
                      <a class="collapsed btn d-flex justify-content-between text-start border-0" data-bs-toggle="collapse" href="#collapseFive">
                        السؤال #5 <i class="bi bi-chevron-down"></i>
                      </a>                    
                    </div>
                    <div id="collapseFive" class="collapse" data-bs-parent="#accordion">
                      <div class="card-body p-4">
                        <p>هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديلر هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل
                          ... <a routerLink="/question1">إقرأ المزيد</a>
                        </p>
                        <audio class="w-100" controls>
                          <source src="../../../assets/audios/beep.mp3" type="audio/mpeg">
                        </audio>
                      </div>
                    </div>
                  </div>              
              </div>
            </div>
       </div>

       <app-pagination></app-pagination>
    </div>
</section>