.articles{
    background: var(--light-bg);
}
/* title */
.articles .articles-title p{
    font-size: 20px;    
}
.articles .articles-title p a{
    color: var(--dark-text);
}
.articles .articles-title p a:hover, .articles .articles-title p span{
    color: var(--primary-color);
}
/* filter */
.articles .articles-filter form input:focus, .articles .articles-filter form button:focus{
    border: 1px solid var(--primary-color);
}
.articles .articles-filter form button{    
    background-color: var(--primary-color);
    color: var(--white-color);
}
.articles .articles-filter .newest-oldest button{
    background-color: var(--white-color);
    border: 1px solid var(--gray-color);
    color: var(--primary-color);
}
.articles .articles-filter .newest-oldest button.active, .articles .articles-filter .newest-oldest button:hover{    
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--white-color);
}

/* content */
.articles .articles-content .article .article-text h4{
    color: var(--dark-text);
}
.articles .articles-content .article .article-text p{
    color: var(--text-color);
    font-size: 18px;
}
.articles .articles-content .article .article-text a{    
    color: var(--primary-color);
}
.articles .articles-content .article .article-text span{
    background-color: var(--secondary-color);
    font-size: 16px;
}

.articles .articles-content .pagination li a{    
    color: var(--dark-text);    
    padding: 5px 15px;
    background-color: transparent;    
}
.articles .articles-content .pagination li.active a, .articles .articles-content .pagination li a:hover{
    background-color: var(--primary-color);
    color: var(--white-color);    
    border-radius: 50%;    
}
.articles .articles-content .pagination li a:focus{    
    background-color: transparent;
}
.articles .articles-content .pagination li a.controls{
    background-color: transparent;    
}
.articles .articles-content .pagination li a.controls:hover{
    color: var(--primary-color);
}
@media screen and (max-width: 992px) {
    .articles{
        background: var(--white-color);
    }
}