<section id="articles" class="articles" name="articles">
    <div class="container-xl">
        <div class="breadcrumb pt-5">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a routerLink="/home">الرئيسية</a></li>
                  <li class="breadcrumb-item active" aria-current="page">المقالات</li>
                </ol>
            </nav>
        </div>
        <div class="articles-filter row d-flex justify-content-between">
            <form class="col-md-6 py-3" name="search">
                <div class="input-group">
                    <input type="search" class="form-control shadow-none" placeholder="ابحث عن المقال" name="search">
                    <button class="btn" type="submit"><i class="bi bi-search"></i></button>
                </div>
            </form>
            <div class="newest-oldest col-md-3 btn-group py-3">
                <button type="button" class="active btn">الأحدث</button>
                <button type="button" class="btn">الأقدم</button>                
            </div>
        </div>
        <div class="articles-content py-3 pb-5">
            <div class="article-box py-4">
                <h1> <i class="bi bi-newspaper me-2"></i> المقالات</h1>
                <div class="article my-4 px-3">
                    <a routerLink="/article">
                        <div class="info bg-white row d-flex align-items-center py-3 px-md-3 shadow rounded-4">
                            <div class="article-photo col-lg-4">
                                <img class="img-fluid" src="../../../assets/images/home images/article.jpg">
                            </div>
                            <div class="article-text col-lg-8 py-4 px-3">
                                <h2>مقالة عن البرمجة</h2>
                                <p class="pt-3">مقالة عن البرمجة مقالة عن البرمجة مقالة عن البرمجة مقالة عن البرمجة مقالة عن البرمجة مقالة عن البرمجة مقالة عن البرمجة مقالة عن البرمجة مقالة عن البرمجة ...
                                    <span>إقرأ المزيد</span>
                                </p>                                                        
                            </div>                    
                        </div>
                    </a>
                </div>
                <div class="article my-4 px-3">
                    <a routerLink="/article">
                        <div class="info bg-white row d-flex align-items-center py-3 px-md-3 shadow rounded-4">
                            <div class="article-photo col-lg-4">
                                <img class="img-fluid" src="../../../assets/images/home images/article.jpg">
                            </div>
                            <div class="article-text col-lg-8 py-4 px-3">
                                <h2>مقالة عن البرمجة</h2>
                                <p class="pt-3">مقالة عن البرمجة مقالة عن البرمجة مقالة عن البرمجة مقالة عن البرمجة مقالة عن البرمجة مقالة عن البرمجة مقالة عن البرمجة مقالة عن البرمجة مقالة عن البرمجة ...
                                    <span>إقرأ المزيد</span>
                                </p>                                                        
                            </div>                    
                        </div>
                    </a>
                </div>
                <div class="article my-4 px-3">
                    <a routerLink="/article">
                        <div class="info bg-white row d-flex align-items-center py-3 px-md-3 shadow rounded-4">
                            <div class="article-photo col-lg-4">
                                <img class="img-fluid" src="../../../assets/images/home images/article.jpg">
                            </div>
                            <div class="article-text col-lg-8 py-4 px-3">
                                <h2>مقالة عن البرمجة</h2>
                                <p class="pt-3">مقالة عن البرمجة مقالة عن البرمجة مقالة عن البرمجة مقالة عن البرمجة مقالة عن البرمجة مقالة عن البرمجة مقالة عن البرمجة مقالة عن البرمجة مقالة عن البرمجة ...
                                    <span>إقرأ المزيد</span>
                                </p>                                                        
                            </div>                    
                        </div>
                    </a>
                </div>
            </div>
            
            <app-pagination></app-pagination>
        </div>
    </div>
</section>