<section id="articles" class="articles" name="articles">
    <div class="container-xl">
        <div class="articles-title pt-5">
            <p><a routerLink="/home">الرئيسية</a> / <span>المقالات</span></p>            
        </div>
        <div class="articles-filter row d-flex justify-content-between">
            <form class="col-md-6 py-3">
                <div class="input-group">
                    <input type="search" class="form-control shadow-none" placeholder="ابحث عن المقال">
                    <button class="btn" type="submit"><i class="bi bi-search"></i></button>
                </div>
            </form>
            <div class="newest-oldest col-md-3 btn-group py-3">
                <button type="button" class="active btn">الأحدث</button>
                <button type="button" class="btn">الأقدم</button>                
            </div>
        </div>
        <div class="articles-content py-3 pb-5">
            <div class="article-box d-flex flex-column justify-content-center align-items-center rounded-4 px-lg-5 py-4">
                <div class="article my-3 px-3">
                    <a>
                        <div class="info row d-flex align-items-center py-3 px-md-3 shadow rounded-4">
                            <div class="article-photo col-md-4">
                                <img class="img-fluid" src="../../../assets/images/home images/woman-sitting-by-table-cafe.jpg">
                            </div>
                            <div class="article-text col-md-8 py-4 px-3">
                                <h4>مقالة عن البرمجة</h4>
                                <p class="pt-3">مقالة عن البرمجة مقالة عن البرمجة مقالة عن البرمجة مقالة عن البرمجة مقالة عن البرمجة مقالة عن البرمجة مقالة عن البرمجة مقالة عن البرمجة مقالة عن البرمجة ...
                                    <a class="btn" routerLink="/article">إقرأ المزيد</a>
                                </p>                        
                                <span class="badge m-1">برمجة</span>
                                <span class="badge m-1">ويب</span>
                                <span class="badge m-1">إرشادات و معلومات عامة</span>
                            </div>                    
                        </div>
                    </a>
                </div>
                <div class="article my-3 px-3">
                    <a>
                        <div class="info row d-flex align-items-center py-3 px-md-3 shadow rounded-4">
                            <div class="article-photo col-md-4">
                                <img class="img-fluid" src="../../../assets/images/home images/woman-sitting-by-table-cafe.jpg">
                            </div>
                            <div class="article-text col-md-8 py-4 px-3">
                                <h4>مقالة عن البرمجة</h4>
                                <p class="pt-3">مقالة عن البرمجة مقالة عن البرمجة مقالة عن البرمجة مقالة عن البرمجة مقالة عن البرمجة مقالة عن البرمجة مقالة عن البرمجة مقالة عن البرمجة مقالة عن البرمجة ...
                                    <a class="btn" routerLink="/article">إقرأ المزيد</a>
                                </p>                        
                                <span class="badge m-1">برمجة</span>
                                <span class="badge m-1">ويب</span>
                                <span class="badge m-1">إرشادات و معلومات عامة</span>
                            </div>                    
                        </div>
                    </a>
                </div>
                <div class="article my-3 px-3">
                    <a>
                        <div class="info row d-flex align-items-center py-3 px-md-3 shadow rounded-4">
                            <div class="article-photo col-md-4">
                                <img class="img-fluid" src="../../../assets/images/home images/woman-sitting-by-table-cafe.jpg">
                            </div>
                            <div class="article-text col-md-8 py-4 px-3">
                                <h4>مقالة عن البرمجة</h4>
                                <p class="pt-3">مقالة عن البرمجة مقالة عن البرمجة مقالة عن البرمجة مقالة عن البرمجة مقالة عن البرمجة مقالة عن البرمجة مقالة عن البرمجة مقالة عن البرمجة مقالة عن البرمجة ...
                                    <a class="btn" routerLink="/article">إقرأ المزيد</a>
                                </p>                        
                                <span class="badge m-1">برمجة</span>
                                <span class="badge m-1">ويب</span>
                                <span class="badge m-1">إرشادات و معلومات عامة</span>
                            </div>                    
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>