.articles{
    background: var(--light-bg);
}
/* filter */
.articles .articles-filter form input:focus, .articles .articles-filter form button:focus{
    border: 1px solid var(--primary-color);
}
.articles .articles-filter form button{    
    background-color: var(--primary-color);
    color: var(--white-color);
}
.articles .articles-filter .newest-oldest a{
    background-color: var(--white-color);
    border: 1px solid var(--gray-color);
    color: var(--primary-color);
    border-radius: 0px;    
}
.articles .articles-filter .newest-oldest a.newest{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.articles .articles-filter .newest-oldest a.oldest{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.articles .articles-filter .newest-oldest a.active, .articles .articles-filter .newest-oldest a:hover{    
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--white-color);
}

/* content */
.articles .articles-content h1{
    font-size: 32px;
}
.articles .articles-content .article .article-text h2{
    font-size: 28px;
}
.articles .articles-content .article .article-text p{
    color: var(--text-color);
    font-size: 18px;
}
.articles .articles-content .article .article-text a{    
    color: var(--primary-color);
}
.articles .articles-content .article .article-text span{
    color: var(--primary-color);
}
@media screen and (max-width: 992px) {
    .articles{
        background: var(--white-color);
    }
}