<section id="home-about" class="home-about" name="home-about">
    <div class="container-xl">
        <div class="about-content row d-flex align-items-center">
            <div class="about-info col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 py-3">
                <h2>عن قوسين</h2>
                <p class="pt-3"> موقع قوسين هو موقع لتعليم برمجة الحاسب الآلي خصوصا و علوم الحاسب الآلي عموما، من مميزات موقع:</p>
                <ul class="row row-cols-sm-2 pb-3">
                    <li><i class="bi bi-check me-1"></i> تجربة المستخدم مميزة</li>
                    <li><i class="bi bi-check me-1"></i> المحتوى جيد و الاسلوب سهل</li>
                    <li><i class="bi bi-check me-1"></i> المحتوى باللغة العربية</li>
                    <li><i class="bi bi-check me-1"></i> الترجمة للغة الانجليزية</li>
                </ul>
                <a class="btn rounded-0" href="#">المزيد</a>
            </div>
            <div class="about-photo col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 py-3 text-center">
                <img class="img-fluid" src="../../../../assets/images/header-img.png" alt="about-photo">
            </div>
        </div>
    </div>
</section>
