.header{
    background: var(--white-color);    
}
/* .h-shadow{
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
} */
.navbar a.navbar-brand{
    font-size: 30px;
    color: var(--primary-color);    
}
.navbar .navbar-toggler span i{
    color: var(--dark-text);
    font-size: 40px;
}
.navbar .navbar-toggler span i:hover{
    color: var(--primary-color);
}
.navbar .navbar-toggler:focus{
    box-shadow: none;
}
.navbar .nav-link{
    color: var(--dark-text);    
}
.navbar .nav-link:hover{
    color: var(--primary-color);
}
.navbar .show{
    display: none;    
}
.navbar .navbar-account a.sign-up, .navbar .navbar-account a.login:hover{
    background-color: var(--primary-color);
    color: var(--white-color);      
    opacity: 0.8;
}
.navbar .navbar-account a.login{
    border: 1px solid var(--dark-text);
}
.navbar .navbar-account a.login:hover{
    border: 1px solid transparent;
}
.navbar .navbar-account a.sign-up:hover, .navbar .navbar-account a.login:hover{
    opacity: 1;
}
.navbar .navbar-account .profile span{
    color: var(--primary-color);
}
.navbar .navbar-account .profile i{
    font-size: 20px;    
}
.navbar .navbar-account .profile .dropdown-menu{
    background-color: var(--white-color);
}
.navbar .navbar-account .profile .dropdown-menu .dropdown-item{
    color: var(--primary-color);
    margin: 3px 0px;
}
@media screen and (max-width: 991px) {    
    .navbar .show{
        display: inline-block;
        opacity: 1;
        font-size: 18px;
        vertical-align: middle;
    }
    /* .navbar .navbar-account a.sign-up:hover, .navbar .navbar-account a.login:hover{
        background-color: transparent;
        color: var(--primary-color);
        border: 1px solid transparent;
    } */
}