<nav aria-label="Page navigation" class="mt-5">
    <ul class="pagination justify-content-center m-0">
        <li class="page-item px-sm-1">
        <a class="page-link controls border-0 rounded-0 shadow-none" routerLink="" aria-label="Previous">
            <span aria-hidden="true">السابق</span>
        </a>
        </li>
        <li class="page-item px-sm-1 active"><a class="page-link border-0 shadow-none" routerLink="">١</a></li>
        <li class="page-item px-sm-1"><a class="page-link border-0 shadow-none" routerLink="">٢</a></li>
        <li class="page-item px-sm-1"><a class="page-link border-0 shadow-none" routerLink="">٣</a></li>                            
        <li class="page-item px-sm-1">
        <a class="page-link controls border-0 rounded-0 shadow-none" routerLink="" aria-label="Next">
            <span aria-hidden="true">التالي</span>
        </a>
        </li>
    </ul>
</nav> 