.dictionary{
    background-color: var(--light-bg);
}
.dictionary .dictionary-title{
    background-color: var(--primary-color);
}
.dictionary .dictionary-title h1{
    font-size: 32px;
    color: var(--white-color);
}
.dictionary .dictionary-content caption{
    font-size: 24px;
    font-weight: bold;
}
.dictionary .dictionary-content .dictionary-search input:focus{
    border: 1px solid var(--primary-color);
}
.dictionary .dictionary-content .dictionary-search button{
    background-color: var(--primary-color);
    color: var(--white-color);
}