<section id="dictionary" class="dictionary py-5" name="dictionary">
    <div class="container-xl">
        <div class="breadcrumb">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a routerLink="/home">الرئيسية</a></li>
                  <li class="breadcrumb-item active" aria-current="page">القاموس</li>
                </ol>
            </nav>
        </div>

        <div class="dictionary-title text-center rounded-2">
            <h1 class="mt-5 mb-0 py-2">كلمات</h1>
        </div>
        <div class="dictionary-content bg-white py-5">
          <h2 class="px-4">* تطبيقات الويب</h2>
            <div class="table-responsive table-bordered p-4">
                <table class="table mb-0">
                      <tr>
                        <th class="py-2 px-3" scope="col">المصطلح</th>
                        <td class="py-2 px-3" scope="col">تطبيقات الويب</td>                        
                      </tr>                                        
                      <tr>
                        <th class="py-2 px-3" scope="row">الكلمة في اللغة الإنجليزية</th>
                        <td class="py-2 px-3">نسيج، نسيج العنكبوت</td>                        
                      </tr>
                      <tr>
                        <th class="py-2 px-3" scope="row">الترجمة</th>
                        <td class="py-2 px-3">تطبيقات الشبكة</td>                        
                      </tr>
                      <tr>
                        <th class="py-2 px-3" scope="row">تعريب أو ترجمات أخرى</th>
                        <td class="py-2 px-3">تطبيقات الويب</td>                        
                      </tr>                       
                      <tr>
                        <th class="py-2 px-3" scope="col">مصطلحات أخرى</th>
                        <td class="py-2 px-3" scope="col">web</td>                        
                      </tr> 
                      <tr>
                        <th class="py-2 px-3" scope="col">ما هي</th>
                        <td class="py-2 px-3" scope="col">تطبيقات الويب هي تطبيقات تخص التطبيقات التي تظهر من خلال  متصفحات الانترنت</td>                        
                      </tr>                    
                  </table>
              </div>
        </div>
    </div>
</section>