<section id="terms-conditions" class="terms-conditions py-5" name="terms-conditions">
    <div class="container-xl">
        <div class="terms-conditions-title text-center rounded-4 py-4">
            <i class="bi bi-list-check"></i>
            <h3>الشروط والأحكام</h3>  
        </div>
        <div class="terms-conditions-content mt-5">
            <h4>شروط و أحكام قوسين</h4>
            <div class="lists bg-light rounded-4 py-3 px-4 my-4">
                <ol>
                    <li>
                        <a href="#first" class="d-flex align-items-center list-group-item list-group-item-action">
                            <i class="me-2">1</i> المقدمة
                        </a>
                    </li>
                    <li>
                        <a href="#second" class="d-flex align-items-center list-group-item list-group-item-action">
                            <i class="me-2">2</i> التسجيل و إنشاء حساب
                        </a>
                    </li>
                    <li>
                        <a href="#third" class="d-flex align-items-center list-group-item list-group-item-action">
                            <i class="me-2">3</i> شروط و أحكام قوسين
                        </a>
                    </li>
                    <li>
                        <a href="#forth" class="d-flex align-items-center list-group-item list-group-item-action">
                            <i class="me-2">4</i> التسجيل و إنشاء حساب
                        </a>
                    </li>
                    <li>
                        <a href="#fifth" class="d-flex align-items-center list-group-item list-group-item-action">
                            <i class="me-2">5</i> شروط و أحكام قوسين
                        </a>
                    </li>
                    <li>
                        <a href="#sixth" class="d-flex align-items-center list-group-item list-group-item-action">
                            <i class="me-2">6</i> التسجيل و إنشاء حساب
                        </a>
                    </li>
                    <li>
                        <a href="#seventh" class="d-flex align-items-center list-group-item list-group-item-action">
                            <i class="me-2">7</i> شروط و أحكام قوسين
                        </a>
                    </li>
                    <li>
                        <a href="#eighth" class="d-flex align-items-center list-group-item list-group-item-action">
                            <i class="me-2">8</i> التسجيل و إنشاء حساب
                        </a>
                    </li>
                    <li>
                        <a href="#ninth" class="d-flex align-items-center list-group-item list-group-item-action">
                            <i class="me-2">9</i> شروط و أحكام قوسين
                        </a>
                    </li>
                    <li>
                        <a href="#tenth" class="d-flex align-items-center list-group-item list-group-item-action">
                            <i class="me-2">10</i> الخاتمة
                        </a>
                    </li>
                </ol>
            </div>
            <div class="lists-content">
                <ol>
                    <li id="first">
                        <h5>1- المقدمة</h5>
                        <p>هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديلر هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل ر هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل</p>
                    </li>
                    <li id="second">
                        <h5>2- التسجيل و إنشاء حساب</h5>
                        <p>هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديلر هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل ر هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل</p>
                    </li>
                    <li id="third">
                        <h5>3- شروط و أحكام قوسين</h5>
                        <p>هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديلر هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل ر هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل</p>
                    </li>
                    <!-- <li id="forth"></li>
                    <li id="fifth"></li>
                    <li id="sixth"></li>
                    <li id="seventh"></li>
                    <li id="eighth"></li>
                    <li id="ninth"></li>
                    <li id="tenth"></li> -->
                </ol>
            </div>
        </div>
    </div>
</section>