<section id="terms-conditions" class="terms-conditions py-5" name="terms-conditions">
    <div class="container-xl">        
        <div class="terms-conditions-hero row justify-content-between">
            <div class="terms-conditions-title col-md-5">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a routerLink="/home">الرئيسية</a></li>
                      <li class="breadcrumb-item active" aria-current="page">الشروط و الأحكام</li>
                    </ol>
                </nav>
                <h1 class="py-3 mt-5">الأحكام و الشروط</h1>
                <p>اقرأ شروطنا أدناه لمعرفة المزيد حول حقوقك ومسؤولياتك كمستخدم قوسين.</p>
            </div>
            <div class="terms-conditions-photo col-md-5">
                <img class="img-fluid" src="../../../assets/images/Accept terms-pana.png" alt="terms-conditions-photo">
            </div>
        </div>

        <div class="terms-conditions-content row justify-content-center mt-5">
            <div class="content-text col-10 border-top pt-4 pb-5"></div>
        </div>
    </div>
</section>