<section id="home-courses" class="home-courses" name="home-courses">
    <div class="container-xl">
        <div class="courses-title text-center">
            <h2>الدورات</h2>
        </div>
        <div class="courses-content row row-cols-lg-2 row-cols-xl-4 d-flex justify-content-center align-items-center py-5">
            <div class="course py-2">
                <a routerLink="">
                    <div class="shadow rounded-4">
                        <div class="course-photo">
                            <img class="img-fluid rounded-top-4" src="../../../../assets/images/home images/photo-concentrated-redhead-bearded-student-preparing-university-exam-cafe.jpg" alt="course-photo">
                        </div>
                        <div class="course-text bg-white px-4 pt-4 pb-2">
                            <h4>دورة ويب للمبتدئين</h4>
                            <p>دورة ويب للمبتدئين دورة ويب </p>                            
                        </div>
                        <div class="course-info bg-white rounded-bottom-4 px-4 pb-4">
                            <div class="info row row-cols-2">                                
                                <small class="pt-4"><i class="bi bi-clock me-1"></i> ٨س ٣٠ق</small>
                                <small class="pt-4"><i class="bi bi-bookmarks me-1"></i> ٢٠ محاضرة</small>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="course py-2">
                <a routerLink="">
                    <div class="shadow rounded-4">
                        <div class="course-photo">
                            <img class="img-fluid rounded-top-4" src="../../../../assets/images/home images/photo-concentrated-redhead-bearded-student-preparing-university-exam-cafe.jpg" alt="course-photo">
                        </div>
                        <div class="course-text bg-white px-4 pt-4 pb-2">
                            <h4>دورة ويب للمبتدئين</h4>
                            <p>دورة ويب للمبتدئين دورة ويب </p>                            
                        </div>
                        <div class="course-info bg-white rounded-bottom-4 px-4 pb-4">
                            <div class="info row row-cols-2">                                
                                <small class="pt-4"><i class="bi bi-clock me-1"></i> ٨س ٣٠ق</small>
                                <small class="pt-4"><i class="bi bi-bookmarks me-1"></i> ٢٠ محاضرة</small>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="course py-2">
                <a routerLink="">
                    <div class="shadow rounded-4">
                        <div class="course-photo">
                            <img class="img-fluid rounded-top-4" src="../../../../assets/images/home images/photo-concentrated-redhead-bearded-student-preparing-university-exam-cafe.jpg" alt="course-photo">
                        </div>
                        <div class="course-text bg-white px-4 pt-4 pb-2">
                            <h4>دورة ويب للمبتدئين</h4>
                            <p>دورة ويب للمبتدئين دورة ويب </p>                            
                        </div>
                        <div class="course-info bg-white rounded-bottom-4 px-4 pb-4">
                            <div class="info row row-cols-2">                                
                                <small class="pt-4"><i class="bi bi-clock me-1"></i> ٨س ٣٠ق</small>
                                <small class="pt-4"><i class="bi bi-bookmarks me-1"></i> ٢٠ محاضرة</small>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="course py-2">
                <a routerLink="">
                    <div class="shadow rounded-4">
                        <div class="course-photo">
                            <img class="img-fluid rounded-top-4" src="../../../../assets/images/home images/photo-concentrated-redhead-bearded-student-preparing-university-exam-cafe.jpg" alt="course-photo">
                        </div>
                        <div class="course-text bg-white px-4 pt-4 pb-2">
                            <h4>دورة ويب للمبتدئين</h4>
                            <p>دورة ويب للمبتدئين دورة ويب </p>                            
                        </div>
                        <div class="course-info bg-white rounded-bottom-4 px-4 pb-4">
                            <div class="info row row-cols-2">                                
                                <small class="pt-4"><i class="bi bi-clock me-1"></i> ٨س ٣٠ق</small>
                                <small class="pt-4"><i class="bi bi-bookmarks me-1"></i> ٢٠ محاضرة</small>
                            </div>
                        </div>
                    </div>
                </a>
            </div>            
        </div>
        <div class="courses-btn text-center">
             <a class="btn rounded-pill px-sm-4 py-2" routerLink="/courses">جميع الدورات</a>
        </div>
    </div>
</section>
