.home-courses{    
    padding: 100px 0px;
    background: var(--light-color);
}
.home-courses .courses-title h2{
    color: var(--dark-text);
}
.home-courses .courses-title h2::after{
    content: "";
    display: block;
    margin: 3px auto;    
    width: 5%;
    height: 3px;
    background: var(--primary-color);
}
.home-courses .courses-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}
.home-courses .courses-content .course:hover{
    transform: scale(1.05, 1.05);
    transition: all ease-in-out 0.5s;
}
.home-courses .courses-content .course .course-photo img{
    width: 100%;
    height: 175px;
    object-fit: cover;
}

.home-courses .courses-content .course .course-text h4{
    color: var(--dark-text);
}
.home-courses .courses-content .course .course-text p{
    color: var(--text-color);
}

.home-courses .courses-content .course .course-info .info{
    border-top: 1px solid var(--gray-color);
}
.home-courses .courses-content .course .course-info small{
    color: var(--text-color);
}
.home-courses .courses-content .course .course-info small i{
    color: var(--primary-color);
    font-size: 15px;
}

.home-courses .courses-btn a{
    background-color: var(--primary-color);
    color: var(--white-color);
}
.home-courses .courses-btn a:hover{
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);    
    transition: all ease-in-out 0.5s;
}
@media (max-width: 1045px) {
    .home-courses .courses-content{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 577px) {
    .home-courses .courses-content{
        grid-template-columns: 1fr;
    }
}