<section id="home-courses" class="home-courses" name="home-courses">
    <div class="container-xl">
        <div class="courses-title text-center">
            <h2>الدورات</h2>
        </div>
        <div class="courses-content row row-cols-sm-2 row-cols-lg-4 d-flex justify-content-center align-items-center py-5">
            <div class="course text-center py-2">
                <a routerLink="">
                    <div class="shadow">
                        <img class="img-fluid" src="../../../../assets/images/home images/Premium Vector _ App development illustration (1).jpeg" alt="course-photo">
                        <div class="bg-white p-4">
                            <h4>دورة ويب للمبتدئين</h4>
                            <p>دورة ويب للمبتدئين دورة ويب للمبتدئين دورة ويب للمبتدئين</p>                            
                        </div>
                    </div>
                </a>
            </div>
            <div class="course text-center py-2">
                <a routerLink="">
                    <div class="shadow">
                        <img class="img-fluid" src="../../../../assets/images/home images/Premium Vector _ App development illustration (1).jpeg" alt="course-photo">
                        <div class="bg-white p-4">
                            <h4>دورة ويب للمبتدئين</h4>
                            <p>دورة ويب للمبتدئين دورة ويب للمبتدئين دورة ويب للمبتدئين</p>                            
                        </div>
                    </div>
                </a>
            </div>
            <div class="course text-center py-2">
                <a routerLink="">
                    <div class="shadow">
                        <img class="img-fluid" src="../../../../assets/images/home images/Premium Vector _ App development illustration (1).jpeg" alt="course-photo">
                        <div class="bg-white p-4">
                            <h4>دورة ويب للمبتدئين</h4>
                            <p>دورة ويب للمبتدئين دورة ويب للمبتدئين دورة ويب للمبتدئين</p>                            
                        </div>
                    </div>
                </a>
            </div>
            <div class="course text-center py-2">
                <a routerLink="">
                    <div class="shadow">
                        <img class="img-fluid" src="../../../../assets/images/home images/Premium Vector _ App development illustration (1).jpeg" alt="course-photo">
                        <div class="bg-white p-4">
                            <h4>دورة ويب للمبتدئين</h4>
                            <p>دورة ويب للمبتدئين دورة ويب للمبتدئين دورة ويب للمبتدئين</p>                            
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="courses-btn text-center">
             <a class="btn rounded-pill px-sm-4" routerLink="/courses">جميع الدورات</a>
        </div>
    </div>
</section>
