<section id="home-courses" class="home-courses py-5" name="home-courses">
    <div class="container-xl">
        <div class="courses-title text-center">
            <h2>الدورات</h2>
        </div>
        <div class="courses-content row d-flex justify-content-center align-items-center py-5">
            <div class="course col-sm-12 col-md-6 col-lg-6 col-xl-3 col-xxl-3 text-center py-2">
                <div class="shadow">
                    <img class="img-fluid" src="../../../../assets/images/Premium Vector _ App development illustration (1).jpeg" alt="course-photo">
                    <div class="p-4">
                        <h4>دورة ويب للمبتدئين</h4>
                        <p>دورة ويب للمبتدئين دورة ويب للمبتدئين دورة ويب للمبتدئين</p>
                        <a class="btn rounded-0" href="#">اذهب</a>
                    </div>
                </div>
            </div>
            <div class="course col-sm-12 col-md-6 col-lg-6 col-xl-3 col-xxl-3 text-center py-2">
                <div class="shadow">
                    <img class="img-fluid" src="../../../../assets/images/Premium Vector _ App development illustration (1).jpeg" alt="course-photo">
                    <div class="p-4">
                        <h4>دورة ويب للمبتدئين</h4>
                        <p>دورة ويب للمبتدئين دورة ويب للمبتدئين دورة ويب للمبتدئين</p>
                        <a class="btn rounded-0" href="#">اذهب</a>
                    </div>
                </div>
            </div>
            <div class="course col-sm-12 col-md-6 col-lg-6 col-xl-3 col-xxl-3 text-center py-2">
                <div class="shadow">
                    <img class="img-fluid" src="../../../../assets/images/Premium Vector _ App development illustration (1).jpeg" alt="course-photo">
                    <div class="p-4">
                        <h4>دورة ويب للمبتدئين</h4>
                        <p>دورة ويب للمبتدئين دورة ويب للمبتدئين دورة ويب للمبتدئين</p>
                        <a class="btn rounded-0" href="#">اذهب</a>
                    </div>
                </div>
            </div>
            <div class="course col-sm-12 col-md-6 col-lg-6 col-xl-3 col-xxl-3 text-center py-2">
                <div class="shadow">
                    <img class="img-fluid" src="../../../../assets/images/Premium Vector _ App development illustration (1).jpeg" alt="course-photo">
                    <div class="p-4">
                        <h4>دورة ويب للمبتدئين</h4>
                        <p>دورة ويب للمبتدئين دورة ويب للمبتدئين دورة ويب للمبتدئين</p>
                        <a class="btn rounded-0" href="#">اذهب</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="courses-btn text-center">
            <a class="btn rounded-0" href="#">جميع الدورات</a>
        </div>
    </div>
</section>
