<section id="reset-password" class="reset-password d-flex align-items-md-center" name="reset-password">
    <div class="container-xl">
        <div class="reset-password-content shadow-lg p-5">
            <form class="text-center" action="/home">  
                <h3>تغيير كلمة المرور</h3>                                  
                <p class="py-3 text-start">ادخل وأكد كلمة مرور حسابك الجديدة</p>
                <div>
                    <input type="text" class="form-control rounded-0 shadow-none" hidden autocomplete="name">
                </div>
                <div class="form-floating input-group my-3">
                    <input type="password" [type]="fieldPasswordType ? 'text' : 'password'" class="form-control rounded-0 shadow-none" id="n-pwd" placeholder="كلمة المرور الجديدة" name="pswd" autocomplete="new-password" required>
                    <button class="btn" type="button" (click)="showHidePassword()">
                        <i class="bi" [ngClass]="{'bi-eye-slash': !fieldPasswordType, 'bi-eye': fieldPasswordType}"></i>                        
                    </button>
                    <label for="n-pwd">كلمة المرور الجديدة</label>                    
                </div>                                
                <div class="form-floating input-group my-3">
                    <input type="password" [type]="fieldConfirmPasswordType ? 'text' : 'password'" class="form-control rounded-0 shadow-none" id="s-pwd" placeholder="تأكيد كلمة المرور" name="pswd" autocomplete="new-password" required>
                    <button class="btn" type="button" (click)="showHideConfirmPassword()">
                        <i class="bi" [ngClass]="{'bi-eye-slash': !fieldConfirmPasswordType, 'bi-eye': fieldConfirmPasswordType}"></i>                        
                    </button>
                    <label for="s-pwd">تأكيد كلمة المرور</label>                    
                </div>
                  <button type="submit" class="btn rounded-0" disabled>تأكيد كلمة مرور حسابي</button>
            </form>            
        </div>
    </div>
</section>