<section id="home-articles" class="home-articles" name="home-articles">
    <div class="container-xl">
        <div class="articles-title text-center">
            <h2 class="py-2">المقالات</h2>
        </div>
        <div class="articles-content row row-cols-sm-2 d-flex justify-content-center py-5">
            <div class="article py-2">  
                <div class="shadow">
                    <img src="../../../../assets/images/Slab Blog Illustrations1.jpeg" class="img-fluid" alt="article-photo">
                    <div class="p-4">
                        <h4>مقالة عن البرمجة</h4>
                        <p>مقالة عن البرمجة مقالة عن البرمجة مقالة عن البرمجة</p>
                        <a class="btn rounded-0" routerLink="">اذهب</a>
                    </div> 
                </div>                                                            
            </div>
            <div class="article py-2">  
                <div class="shadow">
                    <img src="../../../../assets/images/Slab Blog Illustrations1.jpeg" class="img-fluid" alt="article-photo">
                    <div class="p-4">
                        <h4>مقالة عن البرمجة</h4>
                        <p>مقالة عن البرمجة مقالة عن البرمجة مقالة عن البرمجة</p>
                        <a class="btn rounded-0" routerLink="">اذهب</a>
                    </div> 
                </div>                                                              
            </div>
        </div>
        <div class="articles-btn text-center">
             <a class="btn rounded-0" routerLink="">جميع المقالات</a>
        </div>
    </div>
</section>
