<section id="home-articles" class="home-articles py-5" name="home-articles">
    <div class="container-xl">        
        <div class="articles-content row row-cols-lg-2 d-flex justify-content-center pt-5">
            <div class="article more-viewed py-2">
                <h3 class="py-2">المقالات الأكثر مشاهدة</h3>
                <img class="img-fluid" src="../../../../assets/images/Premium Vector _ Software development, programming language, coding_ digital technology. isometric laptop, computer. isometric laptop, computer.png" alt="article-photo">
                <div class="py-4">
                    <h4>مقالة عن البرمجة</h4> 
                    <p>مقالة عن البرمجة مقالة عن البرمجة مقالة عن البرمجة</p>                   
                    <a class="btn rounded-0" href="#">اذهب</a>
                </div>                
            </div>
            <div class="article py-2">
                <h3 class="py-2">مقالات متنوعة</h3>
                <div id="carousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                      </div>
                    <div class="carousel-inner">
                      <div class="carousel-item row row-cols-2 ms-auto active">
                        <div class="d-inline-block pb-5">
                            <img src="../../../../assets/images/Premium Vector _ Software development, programming language, coding_ digital technology. isometric laptop, computer. isometric laptop, computer.png" class="img-fluid" alt="article-photo">
                            <div class="py-4">
                                <h4>مقالة عن البرمجة</h4>
                                <p>مقالة عن البرمجة مقالة عن البرمجة مقالة عن البرمجة</p>
                                <a class="btn rounded-0" href="#">اذهب</a>
                            </div> 
                        </div>
                        <div class="d-inline-block pb-5">
                            <img src="../../../../assets/images/Premium Vector _ Software development, programming language, coding_ digital technology. isometric laptop, computer. isometric laptop, computer.png" class="img-fluid" alt="article-photo">
                            <div class="py-4">
                                <h4>مقالة عن البرمجة</h4>
                                <p>مقالة عن البرمجة مقالة عن البرمجة مقالة عن البرمجة</p>
                                <a class="btn rounded-0" href="#">اذهب</a>
                            </div> 
                        </div>                        
                      </div>
                      <div class="carousel-item row row-cols-2 ms-auto">
                        <div class="d-inline-block pb-5">
                            <img src="../../../../assets/images/Premium Vector _ Software development, programming language, coding_ digital technology. isometric laptop, computer. isometric laptop, computer.png" class="img-fluid" alt="article-photo">
                            <div class="py-4">
                                <h4>مقالة عن البرمجة</h4>
                                <p>مقالة عن البرمجة مقالة عن البرمجة مقالة عن البرمجة</p>
                                <a class="btn rounded-0" href="#">اذهب</a>
                            </div> 
                        </div>
                        <div class="d-inline-block pb-5">
                            <img src="../../../../assets/images/Premium Vector _ Software development, programming language, coding_ digital technology. isometric laptop, computer. isometric laptop, computer.png" class="img-fluid" alt="article-photo">
                            <div class="py-4">
                                <h4>مقالة عن البرمجة</h4>
                                <p>مقالة عن البرمجة مقالة عن البرمجة مقالة عن البرمجة</p>
                                <a class="btn rounded-0" href="#">اذهب</a>
                            </div> 
                        </div>
                      </div>
                      <div class="carousel-item row row-cols-2 ms-auto">
                        <div class="d-inline-block pb-5">
                            <img src="../../../../assets/images/Premium Vector _ Software development, programming language, coding_ digital technology. isometric laptop, computer. isometric laptop, computer.png" class="img-fluid" alt="article-photo">
                            <div class="py-4">
                                <h4>مقالة عن البرمجة</h4>
                                <p>مقالة عن البرمجة مقالة عن البرمجة مقالة عن البرمجة</p>
                                <a class="btn rounded-0" href="#">اذهب</a>
                            </div> 
                        </div>
                        <div class="d-inline-block pb-5">
                            <img src="../../../../assets/images/Premium Vector _ Software development, programming language, coding_ digital technology. isometric laptop, computer. isometric laptop, computer.png" class="img-fluid" alt="article-photo">
                            <div class="py-4">
                                <h4>مقالة عن البرمجة</h4>
                                <p>مقالة عن البرمجة مقالة عن البرمجة مقالة عن البرمجة</p>
                                <a class="btn rounded-0" href="#">اذهب</a>
                            </div> 
                        </div>
                      </div>
                    </div>
                  </div>                               
            </div>
        </div>
        <div class="articles-btn text-center">
            <a class="btn rounded-0" href="#">جميع المقالات</a>
        </div>
    </div>
</section>
