.home-articles{    
    padding: 100px 0px;
    background: var(--light-color);
}
.home-articles .articles-content img{
    width: 100%;
    height: 250px;    
}
.home-articles .articles-title h2, .home-articles .articles-content .article h4{
    color: var(--dark-text);
}
.home-articles .articles-title h2::after{
    content: "";
    display: block;
    margin: 3px auto;
    width: 5%;
    height: 3px;
    background: var(--primary-color);
}
.home-articles .articles-content .article p{
    color: var(--text-color);
}
.home-articles .articles-content .carousel .carousel-indicators button{
    width: 10px;
    height: 10px;    
}
.home-articles .articles-content a, .home-articles .articles-btn a{
    background: var(--primary-color);
    color: var(--white-color);
}
@media screen and (max-width: 767px) {
    .home-articles .articles-content .article{
        width: 340px;
    }    
}
