<section id="home-articles" class="home-articles" name="home-articles">
    <div class="container-xl">
        <div class="articles-title text-center">
            <h2 class="py-2">المقالات</h2>
        </div>
        <div class="articles-content row row-cols-sm-3 d-flex justify-content-center py-5">
            <div class="article py-2">  
                <a routerLink="">
                    <div class="shadow">
                        <img src="../../../../assets/images/home images/Slab Blog Illustrations1.jpeg" class="img-fluid" alt="article-photo">
                        <div class="p-4">
                            <h4>مقالة عن البرمجة</h4>
                            <p>مقالة عن البرمجة مقالة عن البرمجة مقالة عن البرمجة</p>                        
                        </div> 
                    </div> 
                </a>                                                           
            </div>
            <div class="article py-2">  
                <a routerLink="">
                    <div class="shadow">
                        <img src="../../../../assets/images/home images/Slab Blog Illustrations1.jpeg" class="img-fluid" alt="article-photo">
                        <div class="p-4">
                            <h4>مقالة عن البرمجة</h4>
                            <p>مقالة عن البرمجة مقالة عن البرمجة مقالة عن البرمجة</p>                        
                        </div> 
                    </div> 
                </a>                                                             
            </div>
            <div class="article py-2">  
                <a routerLink="">
                    <div class="shadow">
                        <img src="../../../../assets/images/home images/Slab Blog Illustrations1.jpeg" class="img-fluid" alt="article-photo">
                        <div class="p-4">
                            <h4>مقالة عن البرمجة</h4>
                            <p>مقالة عن البرمجة مقالة عن البرمجة مقالة عن البرمجة</p>                        
                        </div> 
                    </div> 
                </a>
            </div>
        </div>
        <div class="articles-btn text-center">
             <a class="btn rounded-pill px-sm-4" routerLink="/articles">جميع المقالات</a>
        </div>
    </div>
</section>
