<section id="hero" class="hero py-5" name="hero">
    <div class="container-xl">    
        <div class="title text-center pt-5">
            <h2 class="pt-4">مرحبا بكم في أكاديمية قوسين</h2>
            <p class="py-3">موقع قوسين هو موقع لتعليم برمجة الحاسب الآلي خصوصاً و علوم الحاسب الآلي عموماً</p>
        </div>
        <div class="search pb-5">
            <div class="input-group mb-3">
                <input type="search" class="form-control rounded-0" placeholder="البحث في الأكاديمية">
                <button class="btn rounded-0" type="submit">بحث</button>
            </div>
        </div>
    </div>
</section>