<!-- <section id="hero" class="hero pt-5" name="hero">
    <div class="container-xl">    
        <div class="title text-center pt-5">
            <h2 class="pt-4">مرحبا بكم في أكاديمية قوسين</h2>
            <p class="py-3">موقع قوسين هو موقع لتعليم برمجة الحاسب الآلي خصوصاً و علوم الحاسب الآلي عموماً</p>
        </div>
        <div class="search pb-5">
            <div class="input-group">
                <input type="search" class="form-control  " placeholder="البحث في الأكاديمية">
                <button class="btn  " type="submit">بحث</button>
            </div>
        </div>
    </div>        
</section>
<svg width="100%" height="100%" id="svg" viewBox="0 0 1440 390" xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out delay-150"><path d="M 0,400 C 0,400 0,200 0,200 C 122.26666666666671,173.33333333333331 244.53333333333342,146.66666666666666 392,168 C 539.4666666666666,189.33333333333334 712.1333333333332,258.6666666666667 891,272 C 1069.8666666666668,285.3333333333333 1254.9333333333334,242.66666666666666 1440,200 C 1440,200 1440,400 1440,400 Z" stroke="none" stroke-width="0" fill="#0ca7aa" fill-opacity="1" class="transition-all duration-300 ease-in-out delay-150 path-0" transform="rotate(-180 720 200)"></path></svg> -->

<section id="hero" class="hero pt-5" name="hero">    
    <div class="container-xl">
        <div class="content row row-cols-lg-2 d-flex justify-content-center align-items-center">
            <div class="title py-2">
                <h2>مرحبا بكم في أكاديمية قوسين</h2>
                <p class="pt-3"> موقع قوسين هو موقع لتعليم برمجة الحاسب الآلي خصوصا و علوم الحاسب الآلي عموما، من مميزات موقع:</p>
                <ul class="row row-cols-sm-2 pb-3">
                    <li><i class="bi bi-check me-1"></i> تجربة المستخدم مميزة</li>
                    <li><i class="bi bi-check me-1"></i> المحتوى جيد و الاسلوب سهل</li>
                    <li><i class="bi bi-check me-1"></i> المحتوى باللغة العربية</li>
                    <li><i class="bi bi-check me-1"></i> الترجمة للغة الانجليزية</li>
                </ul>
                <a class="btn rounded-0" routerLink="/courses">إبدأ الآن</a>
            </div>
            <div class="photo text-center py-2">
                <img class="img-fluid" src="../../../../assets/images/home images/Free Vector _ Thesis concept illustration.jpeg" alt="hero-photo">
            </div>
        </div>        
    </div>    
</section>