<section id="privacy-policy" class="privacy-policy py-5" name="privacy-policy">
    <div class="container-xl">        
        <div class="privacy-policy-hero row justify-content-between">
            <div class="privacy-policy-title col-md-5">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a routerLink="/home">الرئيسية</a></li>
                      <li class="breadcrumb-item active" aria-current="page">سياسة الخصوصية</li>
                    </ol>
                </nav>
                <h1 class="pt-5 pb-2 mt-5">سياسة الخصوصية</h1>
                <p>تعرف على المزيد حول كيفية قيام قوسين بجمع البيانات واستخدامها وحقوقك كمستخدم قوسين.</p>
            </div>
            <div class="privacy-policy-photo col-md-4">
                <img class="img-fluid" src="../../../assets/images/Privacy policy-pana.png" alt="privacy-policy-photo">
            </div>
        </div>

        <div class="privacy-policy-content row justify-content-center mt-5">
            <div class="content-text col-10 border-top pt-4 pb-5">
                هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديلر هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل
            </div>
        </div>
    </div>
</section>