<section id="word" class="word py-5" name="word">
    <div class="container-xl">
        <div class="breadcrumb">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a routerLink="/home">الرئيسية</a></li>
                  <li class="breadcrumb-item"><a routerLink="/home">القاموس</a></li>
                  <li class="breadcrumb-item active" aria-current="page">تطبيقات الويب</li>
                </ol>
            </nav>
        </div>

        <div class="word-title text-center rounded-2 mt-5">
            <h1 class="mb-0 py-2">تطبيقات الويب</h1>
        </div>        
        <div class="word-content bg-white p-4">
            <div class="table-responsive table-bordered my-4">
              <caption class="d-block mb-2">تطبيقات الويب</caption>
                <table class="table mb-0">                     
                      <tr>
                        <th class="py-2 px-3 w-25" scope="col">الكلمة في اللغة الإنجليزية</th>
                        <td class="py-2 px-3 w-75" scope="col">نسيج، نسيج العنكبوت</td>                        
                      </tr>
                      <tr>
                        <th class="py-2 px-3 w-25" scope="row">الترجمة</th>
                        <td class="py-2 px-3 w-75">تطبيقات الشبكة</td>                        
                      </tr>
                      <tr>
                        <th class="py-2 px-3 w-25" scope="row">تعريب أو ترجمات أخرى</th>
                        <td class="py-2 px-3 w-75">تطبيقات الويب</td>                        
                      </tr>                       
                      <tr>
                        <th class="py-2 px-3 w-25">مصطلحات أخرى</th>
                        <td class="py-2 px-3 w-75">web</td>                        
                      </tr> 
                      <tr>
                        <th class="py-2 px-3 w-25">ما هي</th>
                        <td class="py-2 px-3 w-75">تطبيقات الويب هي تطبيقات تخص التطبيقات التي تظهر من خلال  متصفحات الانترنت تطبيقات الويب هي تطبيقات تخص التطبيقات التي تظهر من خلال  متصفحات الانترنت تطبيقات الويب هي تطبيقات تخص التطبيقات التي تظهر من خلال  متصفحات الانترنت تطبيقات الويب هي تطبيقات تخص التطبيقات التي تظهر من خلال  متصفحات الانترنت تطبيقات الويب هي تطبيقات تخص التطبيقات التي تظهر من خلال  متصفحات الانترنت</td>
                      </tr>                    
                  </table>
              </div> 
              
              <div class="suggested-words bg-white rounded-4 my-5">
                <h4>كلمات مقترحة</h4>
                <div class="suggested-items mt-3">
                    <ul class="row row-cols-sm-3 text-sm-center">
                        <div>
                            <li><a routerLink="/">كلمة #1</a></li>
                            <li><a routerLink="/">كلمة #2</a></li>
                            <li><a routerLink="/">كلمة #3</a></li>
                        </div>
                        <div>
                            <li><a routerLink="/">كلمة #4</a></li>
                            <li><a routerLink="/">كلمة #5</a></li>
                            <li><a routerLink="/">كلمة #6</a></li>
                        </div>
                        <div>
                            <li><a routerLink="/">كلمة #7</a></li>
                            <li><a routerLink="/">كلمة #8</a></li>
                            <li><a routerLink="/">كلمة #9</a></li>
                        </div>
                    </ul>
                </div>
            </div>
          </div>          
    </div>
</section>