.word{
    background-color: var(--light-bg);
}
.word .word-title{
    background-color: var(--primary-color);
}
.word .word-title h1{
    font-size: 32px;
    font-weight: bold;    
    color: var(--white-color);
}
.word .word-content caption{
    font-size: 24px;
    font-weight: bold;
}
.word .word-content .suggested-words h2{
    font-size: 20px;
    font-weight: bold;
    color: var(--dark-text);
}
.word .word-content .suggested-words .suggested-items ul li{
    padding: 5px 0px;
    list-style-position: inside;
    list-style-type: none;
}
.word .word-content .suggested-words .suggested-items ul li a{
    font-size: 17px;
    color: var(--dark-text);
}
.word .word-content .suggested-words .suggested-items ul li a:hover{
    color: var(--primary-color);
}
@media screen and (max-width: 575px){
    .word .word-title h1{
        font-size: 24px;
    }
    .word .word-content caption{
        font-size: 22px;
    }
}