<section id="course-tutorial" class="course-tutorial py-5" name="course-tutorial">
    <div class="container-xl">
        <div class="course-tutorial-title d-flex align-items-center">
            <div class="d-lg-none">
                <button class="btn border-0 pt-0 pb-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
                    <span><i class="bi bi-list"></i></span>
                </button>
            </div>
            <div class="breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0">
                      <li class="breadcrumb-item"><a routerLink="/home">الرئيسية</a></li>
                      <li class="breadcrumb-item"><a routerLink="/courses">الدورات</a></li>
                      <li class="breadcrumb-item active" aria-current="page">دورة ويب للمبتدئين</li>
                    </ol>
                </nav>
            </div>            
        </div>

        <div class="course-tutorial-content row py-3">
            <aside class="right-side col-lg-3">
                <div class="lessons-subjects">
                    <div class="lessons-subjects-names rounded-4 my-3">
                        <h4 class="p-2 rounded-2">الدروس</h4>
                        <ul class="nav nav-tabs flex-column border-0 my-3">
                            <li class="nav-item">
                              <a class="nav-link d-flex justify-content-between align-items-center border-0 shadow-none rounded-2 active" data-bs-toggle="tab" routerLink="/course/tutorial">
                                الدرس الأول <i class="bi bi-chevron-left"></i>
                            </a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link d-flex justify-content-between align-items-center border-0 shadow-none rounded-2" data-bs-toggle="tab" routerLink="/course/tutorial">
                                الدرس الثاني <i class="bi bi-chevron-left"></i>
                            </a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link d-flex justify-content-between align-items-center border-0 shadow-none rounded-2" data-bs-toggle="tab" routerLink="/course/tutorial">
                                الدرس الثالث <i class="bi bi-chevron-left"></i>
                            </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex justify-content-between align-items-center border-0 shadow-none rounded-2" data-bs-toggle="tab" routerLink="/course/tutorial">
                                    الدرس الرابع <i class="bi bi-chevron-left"></i>
                                </a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link d-flex justify-content-between align-items-center border-0 shadow-none rounded-2" data-bs-toggle="tab" routerLink="/course/tutorial">
                                    الدرس الخامس <i class="bi bi-chevron-left"></i>
                                </a>
                              </li>
                          </ul>
                    </div>
                    
                    <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
                        <div class="offcanvas-header">
                          <h5 class="offcanvas-title" id="offcanvasScrollingLabel"></h5>
                          <button type="button" class="btn shadow-none border-0" data-bs-dismiss="offcanvas" aria-label="Close">
                            <i class="bi bi-x"></i>
                          </button>
                        </div>
                        <div class="offcanvas-body">
                            <h4 class="p-2 rounded-2">الدروس</h4>
                            <ul class="nav nav-tabs flex-column border-0 my-3">
                                <li class="nav-item">
                                    <a class="nav-link d-flex justify-content-between align-items-center border-0 shadow-none rounded-2 active" data-bs-toggle="tab" routerLink="/course/tutorial">
                                        الدرس الثاني <i class="bi bi-chevron-left"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link d-flex justify-content-between align-items-center border-0 shadow-none rounded-2" data-bs-toggle="tab" routerLink="/course/tutorial">
                                        الدرس الثاني <i class="bi bi-chevron-left"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link d-flex justify-content-between align-items-center border-0 shadow-none rounded-2" data-bs-toggle="tab" routerLink="/course/tutorial">
                                        الدرس الثالث<i class="bi bi-chevron-left"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link d-flex justify-content-between align-items-center border-0 shadow-none rounded-2" data-bs-toggle="tab" routerLink="/course/tutorial">
                                        الدرس الرابع<i class="bi bi-chevron-left"></i>
                                    </a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link d-flex justify-content-between align-items-center border-0 shadow-none rounded-2" data-bs-toggle="tab" routerLink="/course/tutorial">
                                        الدرس الخامس<i class="bi bi-chevron-left"></i>
                                    </a>
                                  </li>
                              </ul>
                        </div>
                      </div>
                </div>
            </aside>

            <section class="left-side bg-white col-lg-9">
                <div class="lessons-content my-3">
                    <div class="next-prev-btns d-flex justify-content-between">
                        <a type="button" class="btn rounded-pill px-sm-4 py-2">الرئيسية</a>
                        <a type="button" class="btn rounded-pill px-sm-4 py-2">الدرس التالي</a>
                    </div>
                    <div class="lessons-title text-center mt-5 mb-4">
                        <h1>HTML</h1>
                        <h2>أساسيات اللغة</h2>
                    </div>
                    <div class="lessons-topics rounded-2 py-4 mb-5">
                        <ul class="mb-0">
                            <li class="list-group-item rounded-1 border-0">
                                <a href="#topic1">
                                    <i class="bi bi-chevron-left"></i> أنواع الوسوم في HTML
                                </a>
                            </li>                            
                            <li class="list-group-item rounded-1 border-0">
                                <a href="#topic2">
                                    <i class="bi bi-chevron-left"></i> وسوم الصفحة الأساسية في HTML
                                </a>
                            </li>
                            <li class="list-group-item rounded-1 border-0">
                                <a href="#topic3">
                                    <i class="bi bi-chevron-left"></i> خصائص وسوم HTML
                                </a>
                            </li>                            
                        </ul>
                    </div>
                    <div class="lessons-topics-explanation">
                        <div class="my-5">
                            <h3 id="topic1" class="py-3">أنواع الوسوم في HTML</h3>
                            <p>بشكل عام, أي شيء يتم إضافته في الصفحة يقال له وسم ( Tag ) و يوجد نوعين من الوسوم:</p>
                            <ul class="px-0">
                                <li class="list-group-item"><i class="bi bi-dot"></i> وسوم فردية ( Single Tags ) و هذه تعني أن الوسم لا يمكن وضع وسم آخر فيه مثل الوسم <code>&lt;/br&gt;</code>.</li>
                                <li class="list-group-item"><i class="bi bi-dot"></i> وسوم زوجية ( Paired Tags ) و يقصد بها أن الوسم يمكن أن يوضع فيه وسوم أخرى مثل الوسم <code>&lt;p&gt;  &lt;/p&gt;</code>.</li>
                            </ul>
                        </div>
                        <div class="my-5">
                            <h3 id="topic2" class="py-3">وسوم الصفحة الأساسية في HTML</h3>
                            <p>بشكل عام, أي صفحة HTML تتكون من قسمين أساسيين كالتالي:</p>
                            <ul class="px-0">
                                <li class="list-group-item"><i class="bi bi-dot"></i> القسم Head و الذي تضع فيه كل ما تحتاجه لتصميم الصفحة و لكن المستخدم لا يراه.</li>
                                <li class="list-group-item"><i class="bi bi-dot"></i> القسم Body و الذي نضع فيه كل الأشياء التي سيراها المستخدم.</li>
                            </ul>
                            <p class="pt-5">الآن عند كتابة كود HTML5 يجب ذكر المعلومات التالية على الأقل في الملف.</p>
                            <div class="code border rounded-2 p-3">                                                                
                                <div class="syntax d-flex justify-content-between align-items-start" dir="ltr" (ngModel)="code">
                                    <div class="code-lang">
                                        <pre><code [highlight]="code" [languages]="['html']"></code></pre>
                                    </div>
                                    <div class="code-icon">
                                        <button id="liveToastBtn" type="button" class="btn copy border-0 rounded-0" [cdkCopyToClipboard]="code" (click)="show()">
                                            <a><i class="bi bi-copy"></i></a>                                    
                                        </button>
                                    </div>
                                </div>
                                <div class="toast-container position-fixed bottom-0 start-50 translate-middle p-3">
                                    <div #myToast id="liveToast" class="toast fade border-0" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true" data-bs-delay="1000">
                                      <div class="toast-body">
                                        تم نسخ الكود
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                    

                    <!-- review -->
                    <div class="lessons-review text-center rounded-4 my-5 py-5">
                        <h4>هل كان الدرس مفيداً؟</h4>
                        <div class="d-flex justify-content-center align-items-center">
                            <a class="yes me-3" data-bs-toggle="modal" data-bs-target="#yesModal"> نعم </a>
                            <a class="no" data-bs-toggle="modal" data-bs-target="#noModal"> لا </a>
                        </div>
                        <!-- yes modal -->
                        <div class="modal fade" id="yesModal" tabindex="-1" aria-labelledby="yesModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content rounded-0">
                                    <div class="modal-header border-0">                                    
                                    <button type="button" class="btn shadow-none border-0 rounded-0" data-bs-dismiss="modal" aria-label="Close">
                                        <i class="bi bi-x"></i>
                                    </button>
                                    </div>
                                    <div class="modal-body text-start">
                                    <h3 class="mb-3">رائع!</h3>
                                    <form name="yesForm">
                                        <div class="mb-3">
                                            <label for="textarea" class="form-label">هل لديك مقترحات لتحسين تجربتك؟</label>
                                            <textarea class="form-control shadow-none" id="textarea" rows="3"></textarea>
                                        </div>
                                        <div class="mb-3">
                                            <label for="email" class="form-label">بريدك الإلكتروني</label>
                                            <input type="email" class="form-control shadow-none text-start" id="email" placeholder="" autocomplete="email" required>
                                        </div>  
                                        <div class="mb-3">
                                            <label for="name" class="form-label">الاسم</label>
                                            <input type="text" class="form-control shadow-none" id="name" placeholder="" autocomplete="name" required>
                                        </div>
                                        <button type="submit" class="btn rounded-pill border-0 px-sm-4 py-2">إرسال</button>
                                    </form>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                        <!-- no modal -->
                        <div class="modal fade" id="noModal" tabindex="-1" aria-labelledby="noModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content rounded-0">
                                    <div class="modal-header border-0">                                    
                                    <button type="button" class="btn shadow-none border-0 rounded-0" data-bs-dismiss="modal" aria-label="Close">
                                        <i class="bi bi-x"></i>
                                    </button>
                                    </div>
                                    <div class="modal-body text-start">
                                    <h3 class="mb-3">نأسف لذلك!</h3>
                                    <form name="noForm">
                                        <p>لماذا كان الدرس غير مفيد؟</p>
                                        <div class="form-check">
                                            <input class="form-check-input shadow-none" type="radio" name="radio" id="radio1">
                                            <label class="form-check-label" for="radio1">
                                              الدرس لا يحتوي على المعلومات التي أبحث عنها.
                                            </label>
                                          </div>
                                          <div class="form-check">
                                            <input class="form-check-input shadow-none" type="radio" name="radio" id="radio2">
                                            <label class="form-check-label" for="radio2">
                                              الدرس يحتوي على معلومات خاطئة.
                                            </label>
                                          </div>
                                          <div class="form-check">
                                            <input class="form-check-input shadow-none" type="radio" name="radio" id="radio3">
                                            <label class="form-check-label" for="radio3">
                                              سبب آخر.
                                            </label>
                                          </div>
                                        <button type="submit" class="btn rounded-pill border-0 px-sm-4 py-2 mt-5">متابعة</button>
                                    </form>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="next-prev-btns d-flex justify-content-between">
                        <a type="button" class="btn rounded-pill px-sm-4 py-2">الرئيسية</a>
                        <a type="button" class="btn rounded-pill px-sm-4 py-2">الدرس التالي</a>
                    </div>
                </div>                                 
            </section>

            <div class="suggested-lessons bg-white rounded-4 my-5 py-3">                
                <h4>دورات مقترحة</h4>
                <div class="suggested-items row row-cols-sm-4 mt-3">
                    <div class="item">
                        <a routerLink="">
                            <img class="img-fluid rounded-top-2" src="../../../assets/images/home images/course.jpg" alt="item-photo">
                            <p class="border rounded-bottom-2 p-2">هذا النص يمكن استبداله بنص اخر بديل</p>
                        </a>
                    </div>
                    <div class="item">
                        <a routerLink="">
                            <img class="img-fluid rounded-top-2" src="../../../assets/images/home images/course.jpg" alt="item-photo">
                            <p class="border rounded-bottom-2 p-2">هذا النص يمكن استبداله بنص اخر بديل</p>
                        </a>
                    </div>
                    <div class="item">
                        <a routerLink="">
                            <img class="img-fluid rounded-top-2" src="../../../assets/images/home images/course.jpg" alt="item-photo">
                            <p class="border rounded-bottom-2 p-2">هذا النص يمكن استبداله بنص اخر بديل</p>
                        </a>
                    </div>
                    <div class="item">
                        <a routerLink="">
                            <img class="img-fluid rounded-top-2" src="../../../assets/images/home images/course.jpg" alt="item-photo">
                            <p class="border rounded-bottom-2 p-2">هذا النص يمكن استبداله بنص اخر بديل</p>
                        </a>
                    </div>
                    <div class="item">
                        <a routerLink="">
                            <img class="img-fluid rounded-top-2" src="../../../assets/images/home images/course.jpg" alt="item-photo">
                            <p class="border rounded-bottom-2 p-2">هذا النص يمكن استبداله بنص اخر بديل</p>
                        </a>
                    </div>
                    <div class="item">
                        <a routerLink="">
                            <img class="img-fluid rounded-top-2" src="../../../assets/images/home images/course.jpg" alt="item-photo">
                            <p class="border rounded-bottom-2 p-2">هذا النص يمكن استبداله بنص اخر بديل</p>
                        </a>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</section>