<section id="course-tutorial" class="course-tutorial" name="course-tutorial">
    <div class="container-xxl">
        <div class="course-tutorial-title d-flex pt-5 px-4 px-lg-5">
            <div class="me-2 d-lg-none">
                <button class="navbar-toggler navbar-offcanvas border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas" aria-expanded="false" aria-label="Toggle navigation">
                    <span><i class="bi bi-list"></i></span>
                </button>
            </div>
            <div>
                <p><a routerLink="/home">الرئيسية</a> / <a routerLink="/courses">الدورات</a> / <span>دورة بايثون للمبتدئين</span></p>
            </div>
        </div>
        <div class="course-tutorial-content row">
            <aside class="right-side col-lg-3">
                <div class="lessons"></div>
            </aside>
            <section class="left-side col-lg-9">                
            </section>
        </div>
    </div>
</section>