<section id="home-dictionary" class="home-dictionary" name="home-dictionary">
    <div class="container-xl">
        <div class="dictionary-content row row-cols-md-2 align-items-center">
            <div class="dictionary-photo order-md-1 order-2 py-2">
                <img class="img-fluid" src="../../../../assets/images/home images/Dictionary-pana.png" alt="dictionary-photo">
            </div>
            <div class="dictionary-info order-md-2 order-1 px-md-5 py-2">
                <h2>القاموس</h2>
                <ul class="py-3">
                    <li><a routerLink="/word">تطبيقات الويب</a></li>                    
                    <li><a routerLink="/word">تطبيقات الويب</a></li>                    
                    <li><a routerLink="/word">تطبيقات الويب</a></li>                    
                    <li><a routerLink="/word">تطبيقات الويب</a></li>                    
                    <li><a routerLink="/word">تطبيقات الويب</a></li>                    
                    <li><a routerLink="/word">تطبيقات الويب</a></li>                    
                </ul>
                <a class="btn more rounded-pill px-sm-4 py-2" routerLink="/dictionary">جميع الكلمات</a>
            </div>            
        </div>        
    </div>
</section>
