.reset-password{
    margin: 100px 0px;
}
.reset-password .reset-password-content{
    width: 50%;
    text-align: center;
    box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.2);
    margin: auto;
}
.reset-password .reset-password-content form h1{
    font-size: 28px;
    font-weight: bold;
    color: var(--dark-text);
}
.reset-password .reset-password-content form p{
    color: var(--text-color);
}
.reset-password .reset-password-content form a{
    color: var(--primary-color);
    font-weight: bold;
}
.reset-password .reset-password-content form a:hover{
    text-decoration: underline 1px var(--primary-color);
}
.reset-password .reset-password-content form .password{
    position: relative;
}
.reset-password .reset-password-content form .password button{
    position: absolute;
    left: 0px;
    top: 10px;
    z-index: 10;    
}
.reset-password .reset-password-content form .password button:focus{
    border: 1px solid transparent;    
}
.reset-password .reset-password-content form input:focus{
    border: 1px solid var(--primary-color);
}
.reset-password .reset-password-content form label{
    color: var(--primary-color);    
}
.reset-password .reset-password-content form button[type="submit"]{
    background-color: var(--primary-color);
    color: var(--white-color);
}
.reset-password .reset-password-content form button[type="submit"]:hover:enabled{
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
    opacity: 0.8;
    transition: all ease-in-out 0.5s;
}
.reset-password .reset-password-content form button[type="submit"]:disabled{
    background-color: var(--muted-color);
}
@media screen and (max-width: 991px) {
    .reset-password .reset-password-content{
        width: auto;    
        text-align: right;    
        box-shadow: none;
    }    
}
@media screen and (max-width: 575px) {
    .reset-password .reset-password-content form h1{
        font-size: 24px;
    }   
}