<section id="reset-password" class="reset-password d-flex align-items-md-center" name="reset-password">
    <div class="container-xl">
        <div class="reset-password-content px-sm-3 p-lg-5">
            <form action="/home" name="reset-password">
                <div class="text-center">
                    <h3>تغيير كلمة المرور</h3>                                  
                    <p class="py-3">ادخل كلمة مرور حسابك الجديدة</p>
                </div>
                <div>
                    <input type="text" class="form-control rounded-0 shadow-none" hidden autocomplete="name">
                </div>
                <div class="form-floating password my-4">
                    <input type="password" [type]="fieldPasswordType ? 'text' : 'password'" class="form-control rounded-0 shadow-none" id="n-pwd" placeholder="كلمة المرور الجديدة" name="pswd" autocomplete="new-password" required>
                    <button class="btn" type="button" (click)="showHidePassword()">
                        <i class="bi" [ngClass]="{'bi-eye-slash': !fieldPasswordType, 'bi-eye': fieldPasswordType}"></i>                        
                    </button>
                    <label for="n-pwd">كلمة المرور الجديدة</label>                    
                </div>                                
                <div class="form-floating password my-4">
                    <input type="password" [type]="fieldConfirmPasswordType ? 'text' : 'password'" class="form-control rounded-0 shadow-none" id="s-pwd" placeholder="تأكيد كلمة المرور" name="pswd" autocomplete="new-password" required>
                    <button class="btn" type="button" (click)="showHideConfirmPassword()">
                        <i class="bi" [ngClass]="{'bi-eye-slash': !fieldConfirmPasswordType, 'bi-eye': fieldConfirmPasswordType}"></i>                        
                    </button>
                    <label for="s-pwd">تأكيد كلمة المرور</label>                    
                </div>
                  <button type="submit" class="btn py-2 rounded-pill w-100">تأكيد كلمة مرور حسابي</button>
            </form>            
        </div>
    </div>
</section>