<section id="about" class="about" name="about">
    <div class="about-title bg-light py-5">
        <div class="container-xl">        
            <div class="about-breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/home">الرئيسية</a></li>                
                    <li class="breadcrumb-item active" aria-current="page">معلومات عنا</li>
                    </ol>
                </nav>
           </div>

           <h1 class="pt-5 mt-5 mb-2">معلومات عنا</h1>
           <p class="mb-5">موقع قوسين هو موقع لتعليم برمجة الحاسب الآلي خصوصا و علوم الحاسب الآلي عموما</p>
        </div>
    </div>
    <div class="about-content my-5">
        <div class="container-xl">
            <div class="about-features row row-cols-sm-3">
                <div class="feature">
                    <div class="feature-info pb-sm-5">
                        <i class="bi bi-file-text"></i>
                        <h2>رسالتنا</h2>
                        <p>رسالتنا هي تعليم العالم.</p>
                    </div>
                    <div class="feature-photo pt-sm-5">
                        <img class="img-fluid" src="../../../assets/images/about images/Creative writing-pana.png" alt="photo">
                    </div>
                </div>
                <div class="feature d-flex flex-column">
                    <div class="feature-photo pb-sm-5 order-sm-1 order-2">
                        <img class="img-fluid" src="../../../assets/images/about images/Team goals-pana.png" alt="photo">
                    </div>
                    <div class="feature-info pt-sm-5 order-sm2 order-1">
                        <i class="bi bi-trophy"></i>
                        <h2>هدفنا</h2>
                        <p>هدفنا أن يكون التعلم باللغة العربية متاح للجميع.</p>
                    </div>
                </div>
                <div class="feature">
                    <div class="feature-info pb-sm-5">
                        <i class="bi bi-eye"></i>
                        <h2>رؤيتنا</h2>
                        <p>رؤيتنا هي أن نحقِّق الريادة في مجال التعليم.</p>
                    </div>
                    <div class="feature-photo pt-sm-5">
                        <img class="img-fluid" src="../../../assets/images/about images/Vision statement-pana.png" alt="photo">
                    </div>
                </div>            
            </div>
    
            <div class="about-style row justify-content-center">
                <div class="col-sm-10"> 
                    <h2>أسلوبنا في التعليم</h2>
                    <p class="mt-3">التعليم يجب أن يكون بأسلوب يفهمه الجميع, هذا ما نؤمن به و هذا ما نطبقه في الموقع. عند متابعة أي دورة في موقع قوسين ستجد نفسك قادر على متابعتها بدون أي خبرة مسبقة و ستجدنا دائماً نرشدك في بداية كل دورة كيف يجب أن تدرسها معنا بشكل صحيح و في نهايتها ستجدنا أيضاً نرشدك لما يجب أن تتابعه بعدها لكي تتابع تطوير نفسك و ستجدنا دائماً نضع لك أفضل المصادر لذلك.<br>
                        كن على يقين أنه عند التعلم معنا لن تشعر بأي تشتت كما تشعر عند متابعة دروس من منصات أخرى لأنك ستجد كل الدروس مرتبة في قائمة الدروس الخاصة بالدورة التي دخلت إليها و يمكن الرجوع لها بكل سهولة عند الحاجة. و بالطبع ستجدنا جاهزون لمساعدتك في فهم أي فكرة تواجه صعوبة في فهمها.<br>                    
                        أسلوبنا في إعداد الشروحات لا يعتمده أغلب صناع المحتوى لأنه يحتاج لجهد كبير جداً و لسنوات من العمل لهذا السبب تجد أغلب صانعي المحتوى يفضلون إعداد دروسهم على هيئة فيديوهات في يوتيوب بدل إعداد مراجع مكتوبة كما نفعل.</p>
                </div>
            </div>
        </div>
    </div>
</section>