.about .about-title h1{
    font-size: 32px;
}
.about .about-title p{
    font-size: 18px;
    color: var(--text-color);
}
.about .about-features{
    margin: 100px 0px;
}
.about .about-features .feature i{
    font-size: 40px;    
    color: var(--white-color);
}
.about .about-features .feature h2{
    font-size: 28px;    
    margin-bottom: 12px;
    color: var(--white-color);
}
.about .about-features .feature p{    
    font-size: 17px;
    margin-bottom: 0px;
    color: var(--white-color);
    height: 50px;
}
.about .feature-photo img,
.about .feature-info{
  height: 250px;
}
.about .feature-photo{
    display: flex;
    justify-content: center;
    background-color: var(--light-bg);
}
.about .feature-info{
    background-color: var(--dark-color);    
}


.about .about-style h2{
    font-size: 28px;
}
.about .about-style p{
    color: var(--text-color);
    font-size: 18px;
    line-height: 1.8;
}

@media (max-width:767px) {
    .about .feature-photo img,
    .about .feature-info{
        height: auto;
    }
    .about .feature-center{
        display: flex;
        flex-direction: column-reverse;        
    }
}