.login{
    margin: 100px 0px;
}
.login .login-content{
    width: 50%;
    text-align: center;
    box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.2);
    margin: auto;
}
.login .login-content form h3{
     color: var(--dark-text);
     font-weight: bold;
}
.login .login-content form p{
    font-size: 18px;
}
.login .login-content form a{
    color: var(--primary-color);
    font-weight: bold;
}
.login .login-content form a:hover{
    color: var(--dark-color);
}
.login .login-content form .password{
    position: relative;
}
.login .login-content form .password button{
    position: absolute;
    left: 0px;
    top: 10px;
    z-index: 10;    
}
.login .login-content form button:focus{
    border: 1px solid transparent;    
}
.login .login-content form input:focus{
    border: 1px solid var(--primary-color);
}
.login .login-content form label{
    color: var(--primary-color);    
}
.login .login-content form button[type="submit"]{
    background-color: var(--primary-color);
    color: var(--white-color);
}
.login .login-content form button[type="submit"]:hover:enabled{
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
    opacity: 0.8;
    transition: all ease-in-out 0.5s;
}
@media screen and (max-width: 1400px) {
    .login .login-content{
        width: 55%;        
    }    
}
@media screen and (max-width: 1200px) {
    .login .login-content{
        width: 60%;        
    }    
}
@media screen and (max-width: 991px) {
    .login .login-content{
        width: auto;
        text-align: right;
        box-shadow: none;
    }    
}