/* right side */
.article-details-content .right-side .article-title h1{
    font-weight: bold;
    color: var(--dark-text);
}
.article-details-content .right-side .article-writer i{
    font-size: 40px;
    color: var(--dark-text);
    vertical-align: middle;
}
.article-details-content .right-side .article-content{
    position: relative;
} 
.article-details-content .right-side .article-content .related h5{
    font-size: 16px;
    font-weight: bold;
    color: var(--dark-text);
}
.article-details-content .right-side .article-content .related p a{
    color: var(--primary-color);
    font-weight: bold;    
}
.article-details-content .right-side .article-content .related p a:hover,
.article-details-content .right-side .article-content .topics .topic-links li a:hover{
    color: var(--dark-text);
}
.article-details-content .right-side .article-content .topics .topic-title h4,
.article-details-content .right-side .article-content .topics .topic-useful{
    background-color: var(--light-bg);
}
.article-details-content .right-side .topics h4{
    font-size: 20px;
    border-bottom: 2px solid var(--primary-color);    
}
.article-details-content .right-side  .topics .topic-links li a{
    color: var(--primary-color);
    font-weight: bold;
    font-size: 17px;
}
.article-details-content .right-side .article-content .topics .topic-content h2{
    font-size: 28px;
    font-weight: bold;
    color: var(--dark-text);
}
.article-details-content .right-side .article-content .topics .topic-content p{
    font-size: 18px;
    line-height: 1.8;
    color: var(--text-color);
}
.article-details-content .right-side .article-content .topics .topic-useful h4{
    font-size: 20px;
    font-weight: bold;
    color: var(--dark-text);
    border: none;
}
.article-details-content .right-side .article-content .topics .topic-useful a{
    display: flex;
    justify-content: center;
    align-items: center;    
    border: 2px solid var(--dark-text);
    border-radius: 50%;
    color: var(--dark-text);    
    width: 45px;
    height: 45px;
    font-weight: bold;
    text-decoration: none;
}
.article-details-content .right-side .article-content .topics .topic-useful a.yes:hover{
    background-color: var(--primary-color);
    color: var(--white-color);
    border: 2px solid var(--primary-color);
}
.article-details-content .right-side .article-content .topics .topic-useful a.no:hover{
    background-color: var(--text-color);
    color: var(--white-color);
    border: 2px solid var(--text-color);
}
.article-details-content .right-side .article-content .topics .topic-useful .modal-content{
    border: 5px solid var(--primary-color);
}
.article-details-content .right-side .article-content .topics .topic-useful .modal-content .modal-header{
    position: relative;
}
.article-details-content .right-side .article-content .topics .topic-useful .modal-content .modal-header button{
    position: absolute;
    left: 0px;
    padding: 2px;
    background-color: var(--primary-color);    
}
.article-details-content .right-side .article-content .topics .topic-useful .modal-content .modal-header button i{
    font-size: 20px;
    color: var(--white-color);    
}
.article-details-content .right-side .article-content .topics .topic-useful .modal-content .modal-body form[name="yesForm"] label{
    font-weight: bold;
}
.article-details-content .right-side .article-content .topics .topic-useful .modal-content .modal-body form input:focus,
.article-details-content .right-side .article-content .topics .topic-useful .modal-content .modal-body form textarea:focus{
    border: 1px solid var(--primary-color);
}
.article-details-content .right-side .article-content .topics .topic-useful .modal-content .modal-body form button{
    background-color: var(--primary-color);
    color: var(--white-color);
}
.article-details-content .right-side .article-content .topics .topic-useful .modal-content .modal-body form p{
    font-weight: bold;
}
.article-details-content .right-side .article-content .topics .topic-useful .modal-content .modal-body form input[type="radio"]:checked{
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
.article-details-content .right-side .suggested-articles h4, .article-details-content .left-side h3{
    font-size: 20px;
    font-weight: bold;
    color: var(--dark-text);
}
.article-details-content .right-side .suggested-items .item p, .article-details-content .left-side .item p{
    font-weight: bold;
    color: var(--primary-color);
    height: 64px;
    overflow-y: hidden;
}

@media screen and (max-width: 767px){
 .topic-title{
    display: none;
 }   
}
@media screen and (max-width: 575px) {
    .article-details-content .right-side .article-title h1{
        font-size: 24px;
    }
    .article-details-content .right-side .article-content .topics .topic-content h2{
        font-size: 22px;
    }
    .article-details-content .right-side .article-content .topics .topic-content p{
        font-size: 16px;
    }
}