<section id="article-details" class="article-details" name="article-details">
    <div class="container-xl">
       <div class="article-details-breadcrumb mt-5">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/home">الرئيسية</a></li>
                <li class="breadcrumb-item"><a routerLink="/articles">المقالات</a></li>
                <li class="breadcrumb-item active" aria-current="page">عنوان المقالة</li>
                </ol>
            </nav>
       </div>
       <div class="article-details-content row border">
           <section class="right-side col-lg-8 my-3">               
                <div class="article-title">
                    <h1 class="py-3">عنوان المقالة</h1>
                </div>
                <div class="article-photo">
                    <img class="img-fluid" src="../../../assets/images/home images/article.jpg" alt="article-photo">
                </div>
                <div class="article-content row">
                    <div class="related col-md-2 my-3">
                        <h5 class="border-bottom py-2"><i class="bi bi-link-45deg me-2"></i> ذات صلة</h5>
                        <p class="border-bottom py-2 m-0"><a routerLink="">عنوان ذات صلة بالمقالة</a></p>
                        <p class="border-bottom py-2 m-0"><a routerLink="">عنوان ذات صلة بالمقالة</a></p>
                        <p class="border-bottom py-2 m-0"><a routerLink="">عنوان ذات صلة بالمقالة</a></p>
                        <p class="border-bottom py-2 m-0"><a routerLink="">عنوان ذات صلة بالمقالة</a></p>
                    </div>
                    <div class="topics col-md-10 my-3">
                        <h4 class="bg-light p-2">محتويات</h4>
                        <ol class="topic-links border-bottom border-2 pt-2 pb-3">
                            <li class="py-1"><a href="#first">المحتوى الأول</a></li>
                            <li class="py-1"><a href="#second">المحتوى الثاني</a></li>
                            <li class="py-1"><a href="#ref">المراجع</a></li>
                        </ol>
                        <div class="topic-content">
                            <h2 id="first">المحتوى الأول</h2>
                            <p> هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديلر هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل</p>
                            <h2 id="second">المحتوى الثاني</h2>
                            <p>هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديلر هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل هذا النص يمكن استبداله بنص اخر بديل </p>
                        </div>
                        <div class="topic-reference">
                            <h2 class="px-2 py-3 mb-0" data-bs-toggle="collapse" data-bs-target="#useful">المراجع <span class="ms-sm-2">[+]</span></h2>
                            <p id="useful" class="collapse bg-light border p-3">المرجع: موقع قوسين</p>
                        </div>
                        <div class="topic-useful bg-light text-center rounded-4 my-3 py-4">
                            <h4>هل كان المقال مفيداً؟</h4>
                            <div class="d-flex justify-content-center align-items-center">
                                <a class="yes me-3"> نعم </a>
                                <a class="no"> لا </a>
                            </div>
                        </div>
                    </div>
                </div>                
            </section>

            <aside class="left-side col-lg-4 my-3">
                <div class="rounded-4 p-lg-4">
                    <h3>عنوان</h3>
                </div>
            </aside>
        </div>
    </div>
</section>                   
