<section id="home-question" class="home-question" name="home-question">
    <div class="container-xl">
        <div class="question-content row row-cols-md-2 d-flex justify-content-center align-items-center">
            <div class="question-photo py-2">
                <img class="img-fluid" src="../../../../assets/images/home images/Questions Customizable Cartoon Illustrations _ Bro Style.jpeg" alt="question-photo">
            </div>
            <div class="question-info py-2">
                <h2>أسئلة عشوائية</h2>
                <div class="py-3">
                    <p>أين أجد مواقع لجلب الإلهام والأفكار ؟</p>
                    <p>لماذا لا أكمل تعلم البرمجة ؟</p>
                    <p>كيف أعرف التقنيات المستخدمة في موقع معين ؟</p>
                    <p>هل في شركات هتقبلني وأنا عمري 15؟</p>
                    <p>الحصول على وظيفة بمهارات Html + Css بإصداراتهم</p>
                    <p>معنى UI/UX</p>
                </div>
                <a class="btn rounded-pill px-sm-4 py-2" routerLink="/questions">جميع الأسئلة</a>
            </div>
        </div>        
    </div>
</section>
