.home-question{
    padding: 100px 0px;
}
.home-question .question-info h2{
    color: var(--dark-text);
}
.home-question .question-info h2::after{
    content: "";
    display: block;
    margin: 3px 0px;
    width: 9%;
    height: 3px;
    background: var(--primary-color);
}
.home-question .question-info p{
    color: var(--text-color);
}
.home-question .question-info a{
    background-color: var(--primary-color);
    color: var(--white-color);
}