<section id="home-question" class="home-question" name="home-question">
    <div class="container-xl">
        <div class="question-content row row-cols-md-2 d-flex justify-content-center align-items-center">
            <div class="question-photo py-2">
                <img class="img-fluid" src="../../../../assets/images/home images/Questions Customizable Cartoon Illustrations _ Bro Style.jpeg" alt="question-photo">
            </div>
            <div class="question-info py-2">
                <h2>أسئلة عشوائية</h2>
                <div class="py-3">
                    <p>أين أجد مواقع لجلب الإلهام والأفكار ؟</p>
                    <p>لماذا لا أكمل تعلم البرمجة ؟</p>
                    <p>كيف أعرف التقنيات المستخدمة في موقع معين ؟</p>
                    <p>هل في شركات هتقبلني وأنا عمري 15؟</p>
                    <p>الحصول على وظيفة بمهارات Html + Css بإصداراتهم</p>
                    <p>معنى UI/UX</p>
                </div>
                <a class="btn rounded-pill px-sm-4" routerLink="/questions">جميع الأسئلة</a>
            </div>
        </div>        
    </div>
</section>

<!-- <button _ngcontent-ng-c2398819241="" mat-icon-button="" type="button" mattooltip="Copy link to example" class="mat-mdc-tooltip-trigger mdc-icon-button mat-mdc-icon-button mat-unthemed mat-mdc-button-base" mat-ripple-loader-class-name="mat-mdc-button-ripple" mat-ripple-loader-centered="" aria-label="Copy link to Clipboard overview example to the clipboard" aria-describedby="cdk-describedby-message-ng-1-4" cdk-describedby-host="ng-1"><span class="mat-mdc-button-persistent-ripple mdc-icon-button__ripple"></span><mat-icon _ngcontent-ng-c2398819241="" role="img" class="mat-icon notranslate material-icons mat-ligature-font mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">link</mat-icon><span class="mat-mdc-focus-indicator"></span><span class="mat-mdc-button-touch-target"></span><span class="mat-ripple mat-mdc-button-ripple"></span></button> -->
