<section id="home-question" class="home-question" name="home-question">
    <div class="container-xl">
        <div class="question-content row row-cols-md-2 align-items-center">            
            <div class="question-info py-2">
                <h2>أسئلة برمجية</h2>
                <ul class="list-group py-3">
                    <li class="list-group-item border-0"><a routerLink="/">أين أجد مواقع لجلب الإلهام والأفكار ؟</a></li>
                    <li class="list-group-item border-0"><a routerLink="/">لماذا لا أكمل تعلم البرمجة ؟</a></li>
                    <li class="list-group-item border-0"><a routerLink="/">كيف أعرف التقنيات المستخدمة في موقع معين ؟</a></li>
                    <li class="list-group-item border-0"><a routerLink="/">هل في شركات هتقبلني وأنا عمري 15؟</a></li>
                    <li class="list-group-item border-0"><a routerLink="/">الحصول على وظيفة بمهارات Html + Css بإصداراتهم</a></li>
                    <li class="list-group-item border-0"><a routerLink="/">معنى UI/UX</a></li>
                </ul>
                <a class="btn more rounded-pill px-sm-4 py-2" routerLink="/questions">جميع الأسئلة</a>
            </div>
            <div class="question-photo py-2">
                <img class="img-fluid" src="../../../../assets/images/home images/Questions-pana.png" alt="question-photo">
            </div>
        </div>        
    </div>
</section>
