.footer{    
    background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));    
}
.footer .content h4{
    color: var(--white-color);
}
.footer .content ul li{
    display: inline-block;
    font-size: 15px;
}
.footer .content p{
    border-top: 1px solid var(--text-color);    
    color: var(--white-color);
}