<footer id="footer" class="footer" name="footer">
    <div class="container-xl">
        <div class="content row row-cols-sm-2 row-cols-lg-4 py-5 px-2">
            <div class="logo py-3">
                <h3>قوسين</h3>
                <p>موقع قوسين هو موقع لتعليم برمجة الحاسب الآلي خصوصا و علوم الحاسب الآلي عموما</p>
            </div>
            <div class="lists px-lg-5 py-3">
                <h6>روابط</h6>
                <ul class="list-group">                    
                    <li class="list-group-item border-0 px-0">
                        <a routerLink="/courses">الدورات</a>
                    </li>
                    <li class="list-group-item border-0 px-0">
                        <a routerLink="/articles">المقالات</a>
                    </li>
                    <li class="list-group-item border-0 px-0">
                        <a routerLink="/dictionary">القاموس</a>
                    </li>
                    <li class="list-group-item border-0 px-0">
                        <a routerLink="/questions">الأسئلة</a>
                    </li>
                </ul>
            </div>
            <div class="info py-3">
                <h6>معلومات</h6>
                <ul class="list-group">                    
                    <li class="list-group-item border-0 px-0">
                        <a routerLink="/about">معلومات عنا</a>
                    </li>                
                    <li class="list-group-item border-0 px-0">
                        <a routerLink="/contact-us">تواصل معنا</a>
                    </li>                
                    <li class="list-group-item border-0 px-0">
                        <a routerLink="/privacy-policy">سياسة الخصوصية</a>
                    </li>
                    <li class="list-group-item border-0 px-0">
                        <a routerLink="/terms-and-conditions">الشروط و الأحكام</a>
                    </li>
                  </ul> 
            </div> 
            <div class="media py-3">
                <h6>معلومات التواصل</h6>                
                <ul class="contact list-group py-3">
                    <li class="list-group-item border-0 p-0 pb-1">
                        <a routerLink="">20101010101010+</a>
                    </li>                
                    <li class="list-group-item border-0 p-0">
                        <a routerLink="">yomna@gmail.com</a>
                    </li> 
                </ul>
                <h6>سوشيال ميديا</h6>
                <ul class="media-icons pt-2">
                    <li class="list-group-item border-0 px-2 ps-sm-0 py-2">
                        <a routerLink="">
                            <i class="bi bi-facebook rounded-circle d-flex justify-content-center align-items-center"></i>
                        </a>
                    </li>
                    <li class="list-group-item border-0 px-2 py-2">
                        <a routerLink="">
                            <i class="bi bi-twitter rounded-circle d-flex justify-content-center align-items-center"></i>
                        </a>
                    </li>
                    <li class="list-group-item border-0 px-2 py-2">
                        <a routerLink="">
                            <i class="bi bi-instagram rounded-circle d-flex justify-content-center align-items-center"></i>
                        </a>
                    </li>
                    <li class="list-group-item border-0 px-2 py-2">
                        <a routerLink="">
                            <i class="bi bi-youtube rounded-circle d-flex justify-content-center align-items-center"></i>
                        </a>
                    </li>
                </ul>
            </div>                                        
        </div>  
        <div class="copy-write text-center">            
            <p class="py-3 mb-0">جميع الحقوق محفوظة © 2023 قوسين</p>
        </div>
    </div>
</footer>
