.footer{    
    background: var(--primary-color);
}
.footer .content h3{
    color: var(--white-color);
    font-weight: bold;
}

.footer .content h6{
    color: var(--white-color);
    font-size: 18px;
    font-weight: bold;
}
.footer .content ul li{
    background: none;
}
.footer .content ul li a{
    color: var(--white-color);
}
.footer .content .lists ul li a:hover, .footer .content .info ul li a:hover{
    border-bottom: 1px solid var(--white-color);
    padding-bottom: 0px;    
}
.footer .content .media .contact li a{
    word-break: break-all;
}
.footer .content .media .media-icons{
    padding: 0px;
}
.footer .content .media .media-icons li{
    display: inline-block;
}
.footer .content .media .media-icons i{    
    width: 30px;
    height: 30px;
    background-color: var(--white-color);
    color: var(--primary-color);
}
.footer .content .media .media-icons li:hover i{
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
    background-color: transparent;    
    color: var(--white-color);
    transition: all ease-in-out 0.5s;
}
.footer p{    
    color: var(--white-color);
}
.footer .copy-write p{
    border-top: 1px solid var(--white-color);    
}