<footer id="footer" class="footer mt-5 pb-0" name="footer">
    <div class="container-xl">
        <div class="content text-center pt-5 pb-2">
            <h4>قوسين</h4>
            <ul class="p-0 pt-3">
                <li class="px-3"><a href="#">الرئيسية</a></li>
                <li class="px-3"><a href="#">عن الموقع</a></li>
                <li class="px-3"><a href="#">الدورات</a></li>
                <li class="px-3"><a href="#">المقالات</a></li>
                <li class="px-3"><a href="#">تواصل معنا</a></li>
                <li class="px-3"><a href="#">الأسئلة</a></li>
                <li class="px-3"><a href="#">سياسةالخصوصية</a></li>
                <li class="px-3"><a href="#">سياسة الاستخدام</a></li>
              </ul>              
              <hr>
              <p>جميع الحقوق محفوظة © 2023 قوسين</p>
        </div>          
    </div>
</footer>
