<section id="question" class="question py-5" name="question">
    <div class="container-xl">
        <div class="breadcrumb">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/home">الرئيسية</a></li>
                <li class="breadcrumb-item"><a routerLink="/questions">أسئلة</a></li>
                <li class="breadcrumb-item active" aria-current="page">أتعلم تكنولوجي بعد الكلية ولا مع بداية تخصصي في CS</li>
                </ol>
            </nav>
       </div>
       <!-- title -->
       <div class="question-title text-center rounded-2 mt-5">
        <h1 class="p-2 mb-0">أتعلم تكنولوجي بعد الكلية ولا مع بداية تخصصي في CS</h1>
       </div>
       <!-- content -->
       <div class="question-content p-lg-4">
            <div class="question-info mt-4">
                <h2 class="py-2 px-3">السؤال</h2>
                <p>أتعلم تكنولوجي بعد الكلية ولا مع بداية تخصصي في CS</p>
            </div>
            <div class="answer mt-3">
                <h2 class="py-2 px-3">الإجابة</h2>
                <p class="py-3">مرحلة التأسيس تحتاج للكثير من التركيز والوقت وإذا كنت تتعلم مسار التأسيس في جامعتك فلا داعي أن تتشتت وتأخذ من تركيزك في تعلم أي شيء آخر وتأسس جيدا وقم بحل المشكلات وتعرف على المسار وحاول إتقانه وبعد الإنتهاء يمكنك تعلم ال Technology التي تريدها وسوف يكون الموضوع سهلا باذن الله مادمت تأسست جيدا. أما لو كنت تحتاج لأخذ فكرة عنها بدون التعمق وبدون تضييع وقت التأسيس فلا مانع من ذلك مادام لن يؤثر على تركيزك في التأسيس جيدا</p>
                <audio class="w-100 bg-white" controls>
                    <source class="bg-white" src="../../../assets/audios/beep.mp3" type="audio/mpeg">
                </audio>
            </div>
            <div class="suggested-questions rounded-4 my-5 p-3">
                <h3 class="px-3 py-3">أسئلة مقترحة</h3>
                <div class="suggested-items">
                    <ul class="list-group">
                        <li class="list-group-item border-0 bg-transparent"><a routerLink="/">أين أجد مواقع لجلب الإلهام والأفكار ؟</a></li>
                        <li class="list-group-item border-0 bg-transparent"><a routerLink="/">لماذا لا أكمل تعلم البرمجة ؟</a></li>
                        <li class="list-group-item border-0 bg-transparent"><a routerLink="/">كيف أعرف التقنيات المستخدمة في موقع معين ؟</a></li>
                        <li class="list-group-item border-0 bg-transparent"><a routerLink="/">هل في شركات هتقبلني وأنا عمري 15؟</a></li>
                        <li class="list-group-item border-0 bg-transparent"><a routerLink="/">الحصول على وظيفة بمهارات Html + Css بإصداراتهم</a></li>
                        <li class="list-group-item border-0 bg-transparent"><a routerLink="/">معنى UI/UX</a></li>
                    </ul>
                </div>
            </div>        
       </div>       
    </div>
</section>