<section id="courses" class="courses" name="courses">
     <div class="container-xl">
        <div class="courses-title pt-5">
            <p><a routerLink="/home">الرئيسية</a> / <span>الدورات</span></p>
        </div>
        <div class="courses-content row">
            <aside class="right-side col-lg-3 my-3">
                <div class="filter rounded-4 p-lg-4">
                    <h2><i class="bi bi-search me-1"></i> تصفية البحث</h2>
                    <form class="pt-2" name="filter">
                        <div class="level my-3 pb-3">
                            <h4>المستويات</h4>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="checkbox1">
                                <label class="form-check-label" for="checkbox1">
                                  أساسي
                                </label>
                              </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="checkbox2">
                                <label class="form-check-label" for="checkbox2">
                                  مبتدئ
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="checkbox3">
                                <label class="form-check-label" for="checkbox3">
                                  متوسط
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="checkbox4">
                                <label class="form-check-label" for="checkbox4">
                                  متقدم
                                </label>
                              </div>
                        </div>                        
                        <div class="category my-3">
                            <h4>التصنيفات</h4>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="radio1">
                                <label class="form-check-label" for="radio1">
                                  برمجة
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="radio2">
                                <label class="form-check-label" for="radio2">
                                  بايثون
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="radio3">
                                <label class="form-check-label" for="radio3">
                                  جافا
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="radio4">
                                <label class="form-check-label" for="radio4">
                                  حاسب آلي
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="radio5">
                                <label class="form-check-label" for="radio5">
                                  قواعد بيانات
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="radio6">
                                <label class="form-check-label" for="radio6">
                                  ذكاء اصطناعي
                                </label>
                              </div>
                        </div>
                        <div class="responsive row row-cols-sm-2">
                            <div class="res-level my-2">
                                <select class="form-select shadow-none" aria-label="Default select" name="level">
                                    <option selected hidden>المستويات</option>
                                    <option value="basic">أساسي</option>
                                    <option value="beginner">مبتدئ</option>
                                    <option value="mid">متوسط</option>
                                    <option value="advanced">متقدم</option>
                                </select>
                            </div>
                            <div class="res-category my-2">
                                <select class="form-select shadow-none" aria-label="Default select" name="category">
                                    <option selected hidden>التصنيفات</option>
                                    <option value="programming">برمجة</option>
                                    <option value="python">بايثون</option>
                                    <option value="java">جافا</option>
                                    <option value="computer">حاسب آلي</option>
                                    <option value="database">قواعد بيانات</option>
                                    <option value="ai">ذكاء اصطناعي</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </aside>
            <section class="left-side col-lg-9 my-3">
                <div class="info rounded-4 px-lg-5 py-4">
                    <h1><i class="bi bi-book me-2"></i> الدورات</h1>
                    <div class="course-boxes py-3">
                        <div class="course my-2">
                            <a routerLink="/course/tutorial">
                                <div class="shadow rounded-4">
                                    <div class="course-photo">
                                        <img class="img-fluid rounded-top-4" src="../../../../assets/images/home images/course.jpg" alt="course-photo">
                                    </div>
                                    <div class="course-text bg-white px-3 pt-4 pb-2">
                                        <h3>دورة ويب للمبتدئين</h3>
                                        <p>دورة ويب للمبتدئين دورة ويب</p>
                                    </div>
                                    <div class="course-info bg-white rounded-bottom-4 px-3 pb-4">
                                        <div class="info d-flex justify-content-between">                                
                                            <small class="pt-4"><i class="bi bi-clock me-1"></i> ٨س ٣٠ق</small>
                                            <small class="pt-4"><i class="bi bi-bookmarks me-1"></i> ٢٠ محاضرة</small>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="course my-2">
                            <a routerLink="/course/tutorial">
                                <div class="shadow rounded-4">
                                    <div class="course-photo">
                                        <img class="img-fluid rounded-top-4" src="../../../../assets/images/home images/course.jpg" alt="course-photo">
                                    </div>
                                    <div class="course-text bg-white px-3 pt-4 pb-2">
                                        <h3>دورة ويب للمبتدئين</h3>
                                        <p>دورة ويب للمبتدئين دورة ويب</p>                            
                                    </div>
                                    <div class="course-info bg-white rounded-bottom-4 px-3 pb-4">
                                        <div class="info d-flex justify-content-between">                                
                                            <small class="pt-4"><i class="bi bi-clock me-1"></i> ٨س ٣٠ق</small>
                                            <small class="pt-4"><i class="bi bi-bookmarks me-1"></i> ٢٠ محاضرة</small>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="course my-2">
                            <a routerLink="/course/tutorial">
                                <div class="shadow rounded-4">
                                    <div class="course-photo">
                                        <img class="img-fluid rounded-top-4" src="../../../../assets/images/home images/course.jpg" alt="course-photo">
                                    </div>
                                    <div class="course-text bg-white px-3 pt-4 pb-2">
                                        <h3>دورة ويب للمبتدئين</h3>
                                        <p>دورة ويب للمبتدئين دورة ويب</p>                            
                                    </div>
                                    <div class="course-info bg-white rounded-bottom-4 px-3 pb-4">
                                        <div class="info d-flex justify-content-between">                                
                                            <small class="pt-4"><i class="bi bi-clock me-1"></i> ٨س ٣٠ق</small>
                                            <small class="pt-4"><i class="bi bi-bookmarks me-1"></i> ٢٠ محاضرة</small>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="course my-2">
                            <a routerLink="/course/tutorial">
                                <div class="shadow rounded-4">
                                    <div class="course-photo">
                                        <img class="img-fluid rounded-top-4" src="../../../../assets/images/home images/course.jpg" alt="course-photo">
                                    </div>
                                    <div class="course-text bg-white px-3 pt-4 pb-2">
                                        <h3>دورة ويب للمبتدئين</h3>
                                        <p>دورة ويب للمبتدئين دورة ويب</p>                            
                                    </div>
                                    <div class="course-info bg-white rounded-bottom-4 px-3 pb-4">
                                        <div class="info d-flex justify-content-between">                                
                                            <small class="pt-4"><i class="bi bi-clock me-1"></i> ٨س ٣٠ق</small>
                                            <small class="pt-4"><i class="bi bi-bookmarks me-1"></i> ٢٠ محاضرة</small>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="course my-2">
                            <a routerLink="/course/tutorial">
                                <div class="shadow rounded-4">
                                    <div class="course-photo">
                                        <img class="img-fluid rounded-top-4" src="../../../../assets/images/home images/course.jpg" alt="course-photo">
                                    </div>
                                    <div class="course-text bg-white px-3 pt-4 pb-2">
                                        <h3>دورة ويب للمبتدئين</h3>
                                        <p>دورة ويب للمبتدئين دورة ويب</p>                            
                                    </div>
                                    <div class="course-info bg-white rounded-bottom-4 px-3 pb-4">
                                        <div class="info d-flex justify-content-between">                                
                                            <small class="pt-4"><i class="bi bi-clock me-1"></i> ٨س ٣٠ق</small>
                                            <small class="pt-4"><i class="bi bi-bookmarks me-1"></i> ٢٠ محاضرة</small>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="course my-2">
                            <a routerLink="/course/tutorial">
                                <div class="shadow rounded-4">
                                    <div class="course-photo">
                                        <img class="img-fluid rounded-top-4" src="../../../../assets/images/home images/course.jpg" alt="course-photo">
                                    </div>
                                    <div class="course-text bg-white px-3 pt-4 pb-2">
                                        <h3>دورة ويب للمبتدئين</h3>
                                        <p>دورة ويب للمبتدئين دورة ويب</p>                            
                                    </div>
                                    <div class="course-info bg-white rounded-bottom-4 px-3 pb-4">
                                        <div class="info d-flex justify-content-between">                                
                                            <small class="pt-4"><i class="bi bi-clock me-1"></i> ٨س ٣٠ق</small>
                                            <small class="pt-4"><i class="bi bi-bookmarks me-1"></i> ٢٠ محاضرة</small>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <nav aria-label="Page navigation" class="mt-4">
                        <ul class="pagination justify-content-center m-0">
                            <li class="page-item px-sm-1">
                            <a class="page-link controls border-0 rounded-0 shadow-none" routerLink="" aria-label="Previous">
                                <span aria-hidden="true">السابق</span>
                            </a>
                            </li>
                            <li class="page-item px-sm-1 active"><a class="page-link border-0 shadow-none" routerLink="">١</a></li>
                            <li class="page-item px-sm-1"><a class="page-link border-0 shadow-none" routerLink="">٢</a></li>
                            <li class="page-item px-sm-1"><a class="page-link border-0 shadow-none" routerLink="">٣</a></li>                            
                            <li class="page-item px-sm-1">
                            <a class="page-link controls border-0 rounded-0 shadow-none" routerLink="" aria-label="Next">
                                <span aria-hidden="true">التالي</span>
                            </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </section>
        </div>
    </div>
</section>
