.courses{
    background: var(--light-bg);
}
.courses .courses-title p{
    font-size: 20px;
}
.courses .courses-title p a{
    color: var(--dark-text);
}
.courses .courses-title p a:hover ,.courses .courses-title p span{
    color: var(--primary-color);
}

/* right side */
.courses .right-side .filter, .courses .left-side .info{
    background-color: var(--white-color);        
}
.courses .right-side .filter h5, .courses .left-side .info h3{
    color: var(--dark-text);
    font-weight: bold;
}
.courses .right-side .filter .level{
    border-bottom: 1px solid var(--gray-color);
}
.courses .right-side .filter h6{
    color: var(--text-color);
    font-weight: bold;
}
.courses .right-side .filter label{
    color: var(--dark-text);
}
.courses .right-side .filter input:checked{
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
.courses .right-side .filter input:active{
    border: 1px solid var(--primary-color);
}
.courses .right-side .filter input:focus{
    box-shadow: none;    
}
.courses .right-side .responsive{
    display: none;
}
.courses .left-side .course-boxes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
} 
.courses .left-side .course .course-photo img{
    width: 100%;
    height: 170px;
    object-fit: cover;
}
.courses .left-side .course .course-text h4{
    color: var(--dark-text);
}
.courses .left-side .course .course-text p{
    color: var(--text-color);
}
.courses .left-side .course .course-info .info{
    border-top: 1px solid var(--gray-color);
}
.courses .left-side .course .course-info small{
    color: var(--text-color);
}
.courses .left-side .course .course-info small i{
    color: var(--primary-color);
    font-size: 15px;
}
.courses .left-side .pagination li a{    
    color: var(--dark-text);    
    padding: 5px 15px;
    background-color: transparent;    
}
.courses .left-side .pagination li.active a, .courses .left-side .pagination li a:hover{
    background-color: var(--primary-color);
    color: var(--white-color);    
    border-radius: 50%;    
}
.courses .left-side .pagination li a:focus{    
    background-color: transparent;
}
.courses .left-side .pagination li a.controls{
    background-color: transparent;    
}
.courses .left-side .pagination li a.controls:hover{
    color: var(--primary-color);
}
@media (max-width: 1120px){
    .courses .left-side .course-boxes{
        grid-template-columns: 1fr 1fr ;
    }
}

@media screen and (max-width: 991.5px) {
    .courses .left-side .course-boxes{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .courses{
        background: var(--white-color);
    }
    .courses .right-side .level, .courses .right-side .category{
        display: none;
    }
    .courses .right-side .responsive{
        display: flex;
    }    
    .courses .right-side .responsive select:focus{
        border: 1px solid var(--primary-color);
    }        
}
@media (max-width: 768px){
    .courses .left-side .course-boxes{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 577px){
    .courses .left-side .course-boxes{
        grid-template-columns: 1fr;
    }
}