<section id="courses" class="courses" name="courses">
    <div class="container-xxl">
        <div class="courses-content row px-sm-3 p-lg-5">
            <aside class="right-side col-lg-3 py-3">
                <div class="filter p-4">
                    <h5>تصفية البحث</h5>
                    <form class="pt-2">
                        <div class="level py-3">
                            <h6>المستويات</h6>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                  أساسي
                                </label>
                              </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                  مبتدئ
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                <label class="form-check-label" for="flexCheckChecked">
                                  متوسط
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                <label class="form-check-label" for="flexCheckChecked">
                                  متقدم
                                </label>
                              </div>
                        </div>                        
                        <div class="catagory py-3">
                            <h6>التصنيفات</h6>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                  برمجة
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                  بايثون
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                  جافا
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                                <label class="form-check-label" for="flexRadioDefault2">
                                  حاسب آلي
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                                <label class="form-check-label" for="flexRadioDefault2">
                                  قواعد بيانات
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                                <label class="form-check-label" for="flexRadioDefault2">
                                  ذكاء اصطناعي
                                </label>
                              </div>
                        </div>
                        <div class="responsive row row-cols-sm-2">
                            <div class="res-level py-2">
                                <select class="form-select shadow-none" aria-label="Default select">
                                    <option selected hidden>المستويات</option>
                                    <option value="basic">أساسي</option>
                                    <option value="beginner">مبتدئ</option>
                                    <option value="mid">متوسط</option>
                                    <option value="advanced">متقدم</option>
                                </select>
                            </div>
                            <div class="res-catagory py-2">
                                <select class="form-select shadow-none" aria-label="Default select">
                                    <option selected hidden>التصنيفات</option>
                                    <option value="programming">برمجة</option>
                                    <option value="python">بايثون</option>
                                    <option value="java">جافا</option>
                                    <option value="computer">حاسب آلي</option>
                                    <option value="database">قواعد بيانات</option>
                                    <option value="ai">ذكاء اصطناعي</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </aside>
            <section class="left-side col-lg-9 py-3">
                <div class="info p-5 py-4">
                    <h3>الدورات</h3>
                    <div class="row row-cols-sm-2 row-cols-md-3 d-flex justify-content-center align-items-center py-3">
                        <div class="course text-center py-3">
                            <a routerLink="/course">
                                <div class="shadow">
                                    <img class="img-fluid" src="../../../../assets/images/home images/Premium Vector _ App development illustration (1).jpeg" alt="course-photo">
                                    <div class="p-3">
                                        <h4>دورة ويب للمبتدئين</h4>
                                        <p>دورة ويب للمبتدئين دورة ويب للمبتدئين دورة ويب للمبتدئين</p>                            
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="course text-center py-3">
                            <a routerLink="/course">
                                <div class="shadow">
                                    <img class="img-fluid" src="../../../../assets/images/home images/Premium Vector _ App development illustration (1).jpeg" alt="course-photo">
                                    <div class="p-3">
                                        <h4>دورة ويب للمبتدئين</h4>
                                        <p>دورة ويب للمبتدئين دورة ويب للمبتدئين دورة ويب للمبتدئين</p>                            
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="course text-center py-3">
                            <a routerLink="/course">
                                <div class="shadow">
                                    <img class="img-fluid" src="../../../../assets/images/home images/Premium Vector _ App development illustration (1).jpeg" alt="course-photo">
                                    <div class="p-3">
                                        <h4>دورة ويب للمبتدئين</h4>
                                        <p>دورة ويب للمبتدئين دورة ويب للمبتدئين دورة ويب للمبتدئين</p>                            
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="course text-center py-3">
                            <a routerLink="/course">
                                <div class="shadow">
                                    <img class="img-fluid" src="../../../../assets/images/home images/Premium Vector _ App development illustration (1).jpeg" alt="course-photo">
                                    <div class="p-3">
                                        <h4>دورة ويب للمبتدئين</h4>
                                        <p>دورة ويب للمبتدئين دورة ويب للمبتدئين دورة ويب للمبتدئين</p>                            
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="course text-center py-3">
                            <a routerLink="/course">
                                <div class="shadow">
                                    <img class="img-fluid" src="../../../../assets/images/home images/Premium Vector _ App development illustration (1).jpeg" alt="course-photo">
                                    <div class="p-3">
                                        <h4>دورة ويب للمبتدئين</h4>
                                        <p>دورة ويب للمبتدئين دورة ويب للمبتدئين دورة ويب للمبتدئين</p>                            
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="course text-center py-3">
                            <a routerLink="/course">
                                <div class="shadow">
                                    <img class="img-fluid" src="../../../../assets/images/home images/Premium Vector _ App development illustration (1).jpeg" alt="course-photo">
                                    <div class="p-3">
                                        <h4>دورة ويب للمبتدئين</h4>
                                        <p>دورة ويب للمبتدئين دورة ويب للمبتدئين دورة ويب للمبتدئين</p>                            
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <nav aria-label="Page navigation" class="py-3">
                        <ul class="pagination justify-content-center">
                            <li class="page-item px-sm-2">
                            <a class="page-link controls border-0 rounded-0 shadow-none" routerLink="" aria-label="Previous">
                                <span aria-hidden="true">السابق</span>
                            </a>
                            </li>
                            <li class="page-item px-sm-2 active"><a class="page-link border-0 shadow-none" routerLink="">١</a></li>
                            <li class="page-item px-sm-2"><a class="page-link border-0 shadow-none" routerLink="">٢</a></li>
                            <li class="page-item px-sm-2"><a class="page-link border-0 shadow-none" routerLink="">٣</a></li>                            
                            <li class="page-item px-sm-2">
                            <a class="page-link controls border-0 rounded-0 shadow-none" routerLink="" aria-label="Next">
                                <span aria-hidden="true">التالي</span>
                            </a>
                            </li>
                        </ul>
                        </nav>                    
                </div>
            </section>
        </div>
    </div>
</section>