.courses{
    background: var(--light-bg);
}

/* right side */
.courses .right-side .filter, .courses .left-side .info{
    background-color: var(--white-color);        
}
.courses .right-side .filter h2{
    font-size: 24px;
}
.courses .right-side .filter .search input:focus{      
    border: 1px solid var(--primary-color);
}
.courses .right-side .filter .search button{
    background-color: var(--primary-color);
    color: var(--white-color);
}
.courses .right-side .filter .level{
    border-bottom: 1px solid var(--gray-color);
}
.courses .right-side .filter h4{
    color: var(--text-color);
    font-size: 18px;
}
.courses .right-side .filter label{
    color: var(--dark-text);
}.courses .right-side .filter input{
    border: 1px solid var(--gray-color);
}
.courses .right-side .filter input:checked{
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
.courses .right-side .filter input:active{
    border: 1px solid var(--primary-color);
}
.courses .right-side .responsive{
    display: none;
}

/* left side */
.courses .left-side .info h1{
    font-size: 32px;
}
.courses .left-side .course-boxes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
} 
.courses .left-side .course .course-photo img{
    width: 100%;
    height: 170px;
    object-fit: cover;
}
.courses .left-side .course .course-text h3{
    font-size: 24px;
    height: 29px;
    overflow-y: hidden;
}
.courses .left-side .course .course-text p{
    color: var(--text-color);
    height: 50px;
    overflow-y: hidden;
}
.courses .left-side .course .course-info .info{
    border-top: 1px solid var(--gray-color);
}
.courses .left-side .course .course-info small{
    color: var(--text-color);
}
.courses .left-side .course .course-info small i{
    color: var(--primary-color);
    font-size: 15px;
}
@media (max-width: 1120px){
    .courses .left-side .course-boxes{
        grid-template-columns: 1fr 1fr ;
    }
}

@media screen and (max-width: 991.5px) {
    .courses .left-side .course-boxes{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .courses{
        background: var(--white-color);
    }
    .courses .right-side .level, .courses .right-side .category{
        display: none;
    }
    .courses .right-side .responsive{
        display: flex;
    }    
    .courses .right-side .responsive select:focus{
        border: 1px solid var(--primary-color);
    }        
}
@media (max-width: 768px){
    .courses .left-side .course-boxes{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 577px){
    .courses .left-side .course-boxes{
        grid-template-columns: 1fr;
    }
}