/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Tajawal";
    src: url(./assets/fonts/Tajawal-Regular.ttf);
}
:root{
    --primary-color: #007D6E;
    --secondary-color: #7EBFBC;
    --dark-color: #055c4c;
    --semi-color: #D7ECEF;
    --light-color: #EDF8FA;
    --light-bg: #F8F9FA;    
    --text-color: #999999;
    --dark-text: #555555;
    --white-color: #ffffff;
    --gray-color: #DEE2E6;
    --muted-color: #A4A59F;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; 
    font-family: "Tajawal";
}
/* common styles */
h1, h2, h3, h4 , h5, h6{ 
    font-weight: bold;
    color: var(--dark-text);
}
h1{
    font-size: 40px;
}
h2{
    font-size: 32px;
}
h3{
    font-size: 28px;
}
h4{
    font-size: 24px;
}
h5{
    font-size: 20px;
}
h6{
    font-size: 16px;
}
a{
    text-decoration: none;      
}
a:hover{
    cursor: pointer;
}