/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Tajawal";
    src: url(./assets/fonts/Tajawal-Regular.ttf);
}
:root{
    --primary-color: #0CA7AA;
    --secondary-color: #58C0C3;
    --dark-color: ;
    --light-color: #F8F9FA;
    --semi-color: ;
    --text-color: #999999;
    --dark-text: #555555;
    --white-color: #ffffff;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; 
    font-family: "Tajawal";
}
/* common styles */
a{
    text-decoration: none;  
    color: var(--white-color);  
}
h2{    
    font-weight: bold;
}