.forget-password{
    margin: 100px 0px;
}
.forget-password .forget-password-content{
    width: 50%;
    margin: auto;
}
.forget-password .forget-password-content form h3{
     color: var(--dark-text);
     font-weight: bold;
}
.forget-password .forget-password-content form a{
    color: var(--primary-color);
    font-weight: bold;
}
.forget-password .forget-password-content form a:hover{
    text-decoration: underline 1px var(--primary-color);
}
.forget-password .forget-password-content form input{
    width: 100%;    
}
.forget-password .forget-password-content form input:focus{
    border: 1px solid var(--primary-color);
}
.forget-password .forget-password-content form label{
    color: var(--primary-color);    
}
.forget-password .forget-password-content form button{
    background-color: var(--primary-color);
    color: var(--white-color);
}
.forget-password .forget-password-content form button:hover{
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
    opacity: 0.8;
    transition: all ease-in-out 0.5s;
}
@media screen and (max-width: 1400px) {
    .forget-password .forget-password-content{
        width: 55%;        
    }    
}
@media screen and (max-width: 1200px) {
    .forget-password .forget-password-content{
        width: 60%;        
    }    
}
@media screen and (max-width: 991px) {
    .forget-password .forget-password-content{
        width: 70%;        
    }    
}
@media screen and (max-width: 767px) {
    .forget-password .forget-password-content{
        width: 90%;        
    }    
}
@media screen and (max-width: 512px) {
    .forget-password .forget-password-content{
        width: 100%;        
    }    
}