<section id="forget-password" class="forget-password d-flex align-items-md-center" name="forget-password">
    <div class="container-xl">
        <div class="forget-password-content p-5">
            <form action="/home">                    
                <h3>تغيير كلمة السر</h3>
                <p class="py-3"> هل أنت تائه؟<a routerLink="/sign-up"> أنشىء حسابك</a> أو <a routerLink="/login">تسجيل الدخول</a></p>

                <div class="form-floating my-3">
                    <input type="email" class="form-control rounded-0 shadow-none" id="email" placeholder="البريد الإلكتروني" name="email"  autocomplete="email" required>
                    <label for="email">البريد الإلكتروني</label>
                  </div>                                                   
                  <button type="submit" class="btn rounded-0" disabled>تغيير كلمة السر</button>
            </form>            
        </div>
    </div>
</section>