<section id="login" class="login d-flex align-items-md-center" name="login">
    <div class="container-xl">
        <div class="login-content px-sm-3 p-lg-5">
            <form action="/home" name="log-in">
                <div class="text-center">
                  <h3>سجل الدخول لحسابك</h3>
                  <p class="py-3">ليس لديك حساب على قوسين؟ <a routerLink="/sign-up">أنشىء حسابك</a></p>
                </div>

                <div class="form-floating my-4">
                    <input type="email" class="form-control text-start rounded-0 shadow-none" id="email" placeholder="البريد الإلكتروني" name="email"  autocomplete="email" required>
                    <label for="email">البريد الإلكتروني</label>
                  </div>
                  
                  <div class="form-floating password my-4">
                    <input [type]="fieldTextType ? 'text' : 'password'" type="password" class="form-control rounded-0 shadow-none" id="pwd" placeholder="كلمة المرور" name="pswd" autocomplete="new-password" required>
                    <button class="btn" type="button" (click)="showHidePassword()">
                        <i class="bi" [ngClass]="{'bi-eye-slash': !fieldTextType, 'bi-eye': fieldTextType}"></i>                        
                    </button>
                    <label for="pwd">كلمة المرور</label>                    
                  </div>                  
                  <div class="text-start">
                    <a routerLink="/forget-password">هل نسيت كلمة السر؟</a>
                  </div>
                  <button type="submit" class="btn mt-3 py-2 rounded-pill w-100">تسجيل الدخول</button>
            </form>            
        </div>
    </div>
</section>