<section id="verify" class="verify d-flex align-items-md-center" name="verify">
    <div class="container-xl">
        <div class="verify-content px-sm-3 p-lg-5">
            <form action="/home" class="text-center">                     
                <div class="text-center">
                    <h3>تأكيد حسابك</h3>
                    <p class="py-3">أدخل الرقم المكون من 6 أرقام الذي تم إرساله إلى بريدك الإلكتروني</p>
                </div>
                <code-input [isCodeHidden]="false"
                    [codeLength]="6"
                    (codeChanged)="onCodeChanged($event)"
                    (codeCompleted)="onCodeCompleted($event)">
                </code-input>
                <button type="submit" class="btn d-block m-auto my-3 py-2 rounded-pill w-100">تأكيد الحساب</button>
                <p>لم تتلق الرمز ؟<a routerLink="">إعادة إرسال</a></p>
            </form>
        </div>
    </div>
</section>