.verify{
    margin: 100px 0px;
}
.verify .verify-content{
    width: 50%;
    text-align: center;
    box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.2);
    margin: auto;
}
.verify .verify-content form h3{
     color: var(--dark-text);
     font-weight: bold;
}
.verify .verify-content form p{
    font-size: 18px;
    color: var(--text-color);
}
.verify .verify-content form a{
    color: var(--primary-color);
    font-weight: bold;
}
.verify .verify-content form a:hover{
    color: var(--dark-color);
}

.verify .verify-content form code-input{
    text-align: center;
    font-size: 28px;  
    /* box-shadow: 0px 0px 5px #ccc inset; */
    transition: all ease-in-out 0.2s;
}
.verify .verify-content form input:focus{
    border: 1px solid var(--primary-color);    
    box-shadow: 0px 0px 5px var(--primary-color) inset;
}
.verify .verify-content form button[type="submit"]{
    background-color: var(--primary-color);
    color: var(--white-color);
}
.verify .verify-content form button[type="submit"]:hover:enabled{
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
    opacity: 0.8;
    transition: all ease-in-out 0.5s;
}
.verify .verify-content form button[type="submit"]:disabled{
    background-color: var(--muted-color);
}
@media screen and (max-width: 991px) {
    .verify .verify-content{
        width: auto;
        text-align: right;
        box-shadow: none;
    }      
}
code-input{
    margin-bottom: 40px;
}
@media screen and (max-width: 492px) {    
    .verify .verify-content form input{
        width: 45px;    
    } 
}
@media screen and (max-width: 462px) {    
    .verify .verify-content form input{
        width: 40px;              
    } 
}
@media screen and (max-width: 432px) {    
    .verify .verify-content form input{
        width: auto;        
    } 
}